body {
    // box model
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // typography
    font-family: $mainFont;
    font-size: 16px;

    // visual
    overflow-x: hidden;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;

    // typography
    font-family: inherit;
}

// hacks
#envirabox-title-float-main {
    // box model
    display: none !important;
}

.envira-gallery-item-inner .caption {
    // typo
    color: transparent !important;
    
    // box model
    height: 100%;

    // visual
    pointer-events: none;
}