<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&amp;subset=cyrillic", rel="stylesheet")
        //- link(href="https://fonts.googleapis.com/css?family=Oswald:400&amp;subset=cyrillic", rel="stylesheet")
        //- link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&amp;subset=cyrillic", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=cyrillic", rel="stylesheet")
        link(rel="stylesheet", href="styles.css")

        title Lucky Frank Barbershop

    body
        header.page-header
            .header-contacts
                .contact-item.contact-item--address
                    .contact-item__icon.icon-location
                    .contact-item__content г. Краснодар, ул. Мира 54

                .contact-item.contact-item--phone
                    .contact-item__icon.icon-phone
                    .contact-item__content
                        a(href="#") +7 918 195 94 19

                .contact-item.contact-item--schedule
                    .contact-item__icon.icon-clock
                    .contact-item__content Пон.-Вос.: 10<sup>00</sup>-22<sup>00</sup>

                .contact-item.contact-item--social
                    .contact-item__content
                        .social.social--header
                            a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                            a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

                .menu-icon: .menu-icon__middle

            .header-contacts
                .contact-item.contact-item--address
                    .contact-item__icon.icon-location
                    .contact-item__content г. Москва, ул. Комсомольская 4

                .contact-item.contact-item--phone
                    .contact-item__icon.icon-phone
                    .contact-item__content
                        a(href="#") +7 918 195 94 19

                .contact-item.contact-item--schedule
                    .contact-item__icon.icon-clock
                    .contact-item__content Пон.-Вос.: 10<sup>00</sup>-22<sup>00</sup>

                .contact-item.contact-item--social
                    .contact-item__content
                        .social.social--header
                            a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                            a(href="https://www.facebook.com/truemanbarbershop/").social-icon.icon-facebook Facebook
                            a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

                .menu-icon: .menu-icon__middle

            .logo
                a(href="index.html"): img(src="img/logo.svg", alt="Lucky Frank Barbershop logo")

            nav.main-nav
                .main-nav__logo: img(src="/img/logo.svg", alt="")
                ul.main-menu
                    li: a(href="#") Главная
                    li: a(href="#") О нас
                    li: a(href="#") Услуги
                    li: a(href="#") Прайс
                    li: a(href="#") Советы
                    li: a(href="#") Мастера
                    li: a(href="#") Контакты


        section.hero
            header.hero__header
                p.hero__welcome Добро пожаловать в
                h1.hero__title Lucky Frank <br>Barbershop
                p.hero__subtitle Барбершоп для тех, кто разбирается в стиле

            .hero__booking
                a(href="#") Онлайн запись
                
            .hero__app
                a(href="https://itunes.apple.com/app/id1326142986")
                        img(src="/img/app-store.png", alt="ios приложение Lucky Frank")
                a(href="https://itunes.apple.com/app/id1326142986")
                        img(src="/img/google-play.png", alt="ios приложение Lucky Frank")

            .hero__quote
                blockquote.quote.quote--inversed
                    .quote__deco 
                    h3.quote__title Frank <em>Says:</em>
                    p.quote__text Костюм, шляпа, хорошая работа и одинокое пьянство по выходным <br><strong>— вот что украшает мужчину</strong>
                    .quote__signature
                        img(src="/img/sign.png", alt="")

            .hero__deco


        section.section.about
            header.section__header
                p.section__suptitle О Барбершопе
                h2.section__title Добро пожаловать <br>в Lucky Frank Barbershop
                p.section__subtitle Мы ждём тебя в гости

            .section__content
                p.section__text Мы намного больше чем просто мужская парикмахерская, это даже больше чем мужской клуб по интересам, это именно то место, где ты найдешь себя и свой стиль. Мужские стрижки и бритье — это наш профиль, и мы уверены, что мы стрижем и бреем лучше всех.
            .about__video
                <iframe class="about-video-1" src="https://www.youtube.com/embed/hgiaf5ew3kM?showinfo=0" frameborder="0" gesture="media" allowfullscreen></iframe>
                //- img(src="/img/about-deco.png", alt="")
                
            .about__more 
                a(href="") узнай больше


        section.section.features
            header.section__header.section__header--inversed
                p.section__suptitle Преимущества Lucky&nbsp;Frank
                h2.section__title Почему нам доверяют

                //- .features__main-feature
                .feature.feature--first
                    .feature__number 01
                    .feature__icon
                        img(src="./img/features/atmosphere.svg", alt="")
                    h3.feature__title Незабываемая атмосфера и&nbsp;безупречный сервис

            .features__content
                .feature
                    .feature__number 02
                    .feature__icon
                        img(src="./img/features/pros.svg", alt="")
                    h3.feature__title Профессиональные мастера

                .feature
                    .feature__number 03
                    .feature__icon
                        img(src="./img/features/tools.svg", alt="")
                    h3.feature__title Импортные инструменты для&nbsp;стрижек и косметика
                    
                .feature
                    .feature__number 04
                    .feature__icon
                        img(src="./img/features/parking.svg", alt="")
                    h3.feature__title Удобная парковка

                .feature
                    .feature__number 05
                    .feature__icon
                        img(src="./img/features/drinks.svg", alt="")
                    h3.feature__title Большой ассортимент бесплатных напитков

                .feature
                    .feature__number 06
                    .feature__icon
                        img(src="./img/features/games.svg", alt="")
                    h3.feature__title Можно хорошо провести время с друзьями за игрой

                .feature
                    .feature__number 07
                    .feature__icon
                        img(src="./img/features/cards.svg", alt="")
                    h3.feature__title Безналичный расчёт


        section.section.services
            .section__content.section__content--wrapper.services__to-desktop
                article.service
                    .service__icon
                        img(src="/img/shaving-icon.svg", alt="Бритьё в барбершопе Lucky Frank")
                    h3.service__title Бритьё
                    p.service__description Профессиональный подход к каждому клиенту от наших лучших мастеров-барберов
                    .service__more 
                        a(href="#") Подробнее

                article.service
                    .service__icon
                        img(src="/img/haircut-icon.svg", alt="Стрижки в барбершопе Lucky Frank")
                    h3.service__title Стрижки
                    p.service__description Модный тренд или вечная классика? Подберем именно то, что подходит Вам.
                    .service__more 
                        a(href="#") Подробнее

                article.service
                    .service__icon
                        img(src="/img/royal-icon.svg", alt="Королевское бритьё в барбершопе Lucky Frank")
                    h3.service__title Королевское бритьё
                    p.service__description Настоящий ритуал, состоящий из нескольких этапов, достойный королей
                    .service__more 
                        a(href="#") Подробнее


            .services__desktop
                article.service-thumb
                    header.service-thumb__header
                        h3.service-thumb__title Стрижки
                        .service-thumb__description Модный тренд или вечная классика? Подберем именно то, что подходит Вам
                        .service-thumb__more
                            a(href="#") Подробнее
                        .service-thumb__icon
                            img(src="/img/haircut-icon-white.svg", alt="")
                    .service-thumb__background
                        img(src="/img/services/haircut-bg.jpg", alt="")

                article.service-thumb
                    header.service-thumb__header
                        h3.service-thumb__title Королевское <br>бритьё
                        .service-thumb__description Настоящий ритуал, состоящий из нескольких этапов, достойный королей
                        .service-thumb__more
                            a(href="#") Подробнее
                        .service-thumb__icon
                            img(src="/img/royal-icon-white.svg", alt="")
                    .service-thumb__background
                        img(src="/img/services/royal-bg.jpg", alt="")

                br

                article.service-thumb
                    header.service-thumb__header
                        h3.service-thumb__title Бритьё
                        .service-thumb__description Профессиональный подход к каждому клиенту от наших лучших мастеров барберов
                        .service-thumb__more
                            a(href="#") Подробнее
                        .service-thumb__icon
                            img(src="/img/shaving-icon-white.svg", alt="")
                    .service-thumb__background
                        img(src="/img/services/shaving-bg.jpg", alt="")


                .services__quote
                    blockquote.quote.quote--inversed
                        .quote__deco 
                        h3.quote__title Frank <em>Says:</em>
                        p.quote__text Если Вы обладаете чем-то, но Вы не можете это отдать, то Вы не обладаете этим... <br><strong>это обладает Вами.</strong>
                        .quote__signature
                            img(src="/img/sign-white.png", alt="")

        section.section.statistics
            .section__content
                article.stat
                    header.stat__header
                        .stat__icon
                            img(src="/img/haircut-icon.svg", alt="Стрижки в барбершопе Lucky Frank")
                        .stat__count 35
                        .stat__name идеальных <br>причёсок
                    
                    .stat__photo
                        img(src="/img/haircut-photo.png", alt="")
                    .stat__background.stat__background--hair
                        img(src="/img/haircut-bg.jpg", alt="")
                    
                article.stat
                    header.stat__header
                        .stat__icon
                            img(src="/img/shaving-icon.svg", alt="Бритьё в барбершопе Lucky Frank")
                        .stat__count 25
                        .stat__name подстриженых <br>бород
                    
                    .stat__photo
                        img(src="/img/shaving-photo.png", alt="")
                    .stat__background
                        img(src="/img/shaving-bg.jpg", alt="")

                //- article.stat
                    header.stat__header
                        .stat__icon
                            img(src="/img/tattoo-icon.svg", alt="Профессиональные татуировки в барбершопе Lucky Frank")
                        .stat__count 15
                        .stat__name набитых <br>татуировок
                    
                    .stat__photo
                        img(src="/img/tattoo-photo.png", alt="")
                    .stat__background
                        img(src="/img/tattoo-bg.jpg", alt="")

        section.promos
            article.promo
                .promo__image
                    img(src="/img/promo-test.jpg", alt="")
                .promo__content
                    header.promo__header
                        p.promo__suptitle Акция
                        h3.promo__title Скидка на первую стрижку
                        p.promo__subtitle Для новых клиентов
                    p.promo__text Для наших клиентов мы предлагаем акцию "Первая стрижка в подарок". По условиям которой первая стрижка в барбершопе Lucky Frank со скидкой 20%.
                    .promo__more
                        a(href="#") Подробнее об акции
                    
            article.promo
                .promo__image
                    img(src="/img/promo-test.jpg", alt="")
                .promo__content
                    header.promo__header
                        p.promo__suptitle Акция
                        h3.promo__title Скидка на первую стрижку
                        p.promo__subtitle Для новых клиентов
                    p.promo__text Для наших клиентов мы предлагаем акцию "Первая стрижка в подарок". По условиям которой первая стрижка в барбершопе Lucky Frank со скидкой 20%. Условия акции и сроки её проведения уточняйте у менеджера нашего барбершопа.

            article.promo
                .promo__image
                    img(src="/img/promo-test.jpg", alt="")
                .promo__content
                    header.promo__header
                        p.promo__suptitle Акция
                        h3.promo__title Скидка на первую стрижку
                        p.promo__subtitle Для новых клиентов
                    p.promo__text Для наших клиентов мы предлагаем акцию "Первая стрижка в подарок". По условиям которой первая стрижка в барбершопе Lucky Frank со скидкой 20%. Условия акции и сроки её проведения уточняйте у менеджера нашего барбершопа.


        section.section.prices
            header.section__header.section__header--inversed
                p.section__suptitle Прайс Lucky Frank
                h2.section__title Прайс-лист <br>на услуги
                p.section__subtitle Позволь себе настоящий стиль
                        
            .prices__more
                a(href="").button Все услуги

            .prices__content
                .prices__column.prices__column--left
                    table.prices-table
                        thead
                            caption Основные услуги
                        tbody
                            tr
                                td Стрижка мужская <br><small>подбор стиля, мытье головы, укладка</small>
                                td 1500 
                            tr
                                td Стрижка детская <br><small>от 5 до 14 лет</small>
                                td 1200 
                            tr
                                td Стрижка под машинку <br><small>одна насадка</small>
                                td 600 
                            tr
                                td Коррекция бороды
                                td 600 
                            tr
                                td Королевское бритьё бороды<br><small>c косметикой Truefitt&nbsp;&&nbsp;Hill</small>
                                td 1500 
                            tr
                                td Королевское бритьё головы<br><small>c косметикой Truefitt&nbsp;&&nbsp;Hill</small>
                                td 2000 

                .prices__column
                    table.prices-table
                        thead
                            caption Дополнительные услуги
                        tbody
                            tr
                                td Камуфляж седых волос
                                td 1100 
                            tr
                                td Окантовка с подбриванием
                                td 500 
                            tr
                                td Мытьё и укладка волос
                                td 400 

                    table.prices-table
                        thead
                            caption Комплексные услуги
                        tbody
                            tr
                                td Стрижка мужская + Коррекция бороды
                                td 1800 
                            tr
                                td Стрижка мужская + Королевское бритьё
                                td 2700 
                            tr
                                td Отец + сын
                                td 2200 
                            tr
                                td Друг + друг
                                td 2600
                                
            .partners
                .partner: img(src="./img/partners/american-crew.png", alt="American Crew logo")
                .partner: img(src="./img/partners/truefitt-and-hill.png", alt="Truefitt & Hill logo")
                .partner: img(src="./img/partners/barber-wild.png", alt="Barber WILD logo")
                .partner: img(src="./img/partners/wahl.png", alt="WAHL logo")
                .partner: img(src="./img/partners/proraso.png", alt="Proraso logo")

        //- section.section.advices
        //-     article.advice

        section.feedback
            header.feedback__header
                p.feedback__suptitle Стрижки от Lucky Frank
                h2.feedback__title Примеры наших работ
                p.feedback__subtitle Громче любых отзывов

            .feedback__content

        section.section.team
            header.section__header
                p.section__suptitle Барберы Lucky Frank
                h2.section__title Наши мастера
                p.section__subtitle Мы знаем, что такое стиль

            .team__more
                a(href="").button.button--inverse Онлайн запись

            .team__content
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Олег
                    .member__photo: img(src="/img/team/barber1.jpg", alt="")
                    
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Дмитрий
                    .member__photo: img(src="/img/team/barber2.jpg", alt="")
                    
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Юрий
                    .member__photo: img(src="./img/team/barber3.jpg", alt="")

                article.join
                    header.join__header
                        h3.join__title Присоединяйся<br>к нашей команде
                    .join__cover
                    .join__photo: img(src="./img/team/join.png", alt="")

            .team__quote
                blockquote.quote
                    .quote__deco 
                    h3.quote__title Frank <em>Says:</em>
                    p.quote__text Чтобы иметь успех, нужно иметь друзей; но чтобы поддерживать большой успех, <br><strong>нужно иметь много друзей.</strong>
                    .quote__signature
                        img(src="/img/sign.png", alt="")

        section.location#contacts
            //- .map-label
                h2.map-label__title Контакты
                h3.map-label__contact-title Адрес
                p.map-label__contact-value г. Краснодар, ул. Мира 54
                h3.map-label__contact-title Электронная почта
                p.map-label__contact-value: a(href="mailto:info@luckyfrank.ru") info@luckyfrank.ru
                h3.map-label__contact-title Телефон
                p.map-label__contact-value: a(href="tel:+79181959419") +7 918 195-94-19
                .map-label__logo: img(src="/img/logo.svg", alt="Lucky Frank Barbershop logo")

            #map.location__map

        footer.page-footer
            .page-footer__wrapper
                .footer-logo
                    .footer-logo__image
                        img(src="/img/logo.svg", alt="")
                    h2.footer-logo__title Lucky Frank<br><small>территория настоящих мужчин</small>
                    .footer-logo__cards
                        img(src="/img/cards.png", alt="Платежи картой Lucky Frank")

                .footer-block
                    header.footer-block__header
                        h3.footer-block__title Краснодар

                    .footer-block__content
                        .footer-info
                            .footer-info__icon.icon-location
                            p.footer-info__text г. Краснодар, ул. Мира 54

                        .footer-info
                            .footer-info__icon.icon-phone
                            p.footer-info__text: a(href="tel:+79111234567") +7 918 195 94 19

                        .footer-info
                            .footer-info__icon.icon-mail-alt
                            p.footer-info__text: a(href="mailto:info@luckyfrank.ru") info@luckyfrank.ru
                            
                        .footer-info
                            .social.social--footer
                                a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                                a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

                .footer-block
                    header.footer-block__header
                        h3.footer-block__title Москва

                    .footer-block__content
                        .footer-info
                            .footer-info__icon.icon-location
                            p.footer-info__text г. Краснодар, ул. Мира 54

                        .footer-info
                            .footer-info__icon.icon-phone
                            p.footer-info__text: a(href="tel:+79111234567") +7 918 195 94 19

                        .footer-info
                            .footer-info__icon.icon-mail-alt
                            p.footer-info__text: a(href="mailto:info@luckyfrank.ru") info@luckyfrank.ru
                            
                        .footer-info
                            .social.social--footer
                                a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                                a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte


                //- .footer-block
                    header.footer-block__header
                        h3.footer-block__title Часы работы
                    
                    .footer-block__content
                        .footer-info
                            .footer-info__icon.icon-clock
                            p.footer-info__text.footer-info__text--schedule Понедельник: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Вторник: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Среда: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Четверг: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Пятница: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Суббота: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Воскресенье: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                //- | Воскресенье: <em>Выходной</em>
                
                .page-footer__quote
                    blockquote.quote.quote--inversed
                        .quote__deco 
                        h3.quote__title Frank <em>Says:</em>
                        p.quote__text <strong>Любовь</strong> — это когда хочется петь и днем и ночью. Без гонорара и менеджера.
                        .quote__signature
                            img(src="/img/sign.png", alt="")

        script(type="text/javascript", src="//w87814.yclients.com/widgetJS", charset="UTF-8")
        script(src="menu.js")
        script(src="map.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClofSbCu6EYSgaWdfCK5G1i_eUXgL4RCk&callback=initMap")
