.about {
  // positioning
  position: relative;
  z-index: 1;

  // visual
  background-color: $white;
  // background-image: url("./img/about-bg-m.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  // background-size: cover;
  box-shadow: 0 10px 20px 0 rgba($dark, 0.25);

  // @include atTabletsPortrait {
  //   // box model
  //   padding: 80px;

  //   // visual
  //   background-image: url("./img/about-bg-t.jpg");
  // }

  // @include atDesktop {
  //   // box model
  //   padding-right: 56%;
  //   min-height: 680px;

  //   // visual
  //   background-image: url("./img/about-bg.jpg");
  // }
}

.about__video {
  // box model
  margin-bottom: 2rem;
}

.about__deco {
  // box model
  display: none;

  // @include atTabletsLandscape {
  //   // positioning
  //   position: absolute;
  //   bottom: 60px;
  //   right: 60px;

  //   // box model
  //   display: block;
  //   max-width: 500px;
  //   width: 35%;

  //   img {
  //     // box model
  //     width: 100%;
  //   }
  // }
}

.about__more {
  // box model
  margin-top: 2rem;
  padding: 0 1rem;
}
