.about {
  // positioning
  position: relative;
  z-index: 1;

  // visual
  background-color: $white;
  background-position: bottom center;
  background-repeat: no-repeat;
  box-shadow: 0 1rem 1.5rem 0 rgba($dark, 0.25);

  @include atTablet {
    // visual
    // background-image: url("./img/about-bg-t.jpg");
  }

  @include atDesktopS {
    // visual
    background-image: url("./img/bgs/about-d.jpg");
    background-size: cover;
  }
}

.about__video {
  // box model
  margin-bottom: 2rem;
}

.about__deco {
  // box model
  display: none;

  // @include atTabletsLandscape {
  //   // positioning
  //   position: absolute;
  //   bottom: 60px;
  //   right: 60px;

  //   // box model
  //   display: block;
  //   max-width: 500px;
  //   width: 35%;

  //   img {
  //     // box model
  //     width: 100%;
  //   }
  // }
}

.about__more {
  // box model
  margin-top: 2rem;
  padding: 0 1rem;
}
