a.button {
  // box model
  display: block;
  padding: 0.75rem 1rem;

  // typography
  color: $brown;
  font-family: $titleFont;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  // visual
  background-color: $white;
  border: 2px solid $brown;
  transition: all 0.25s ease-out;

  &:hover {
    // typography
    color: $white;

    // visual
    background-color: $brown;
  }
}
