.contact {
  // box model
  display: flex;
  margin-bottom: 1rem;
}

.contact__icon {
  // box model
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  margin-top: 0.25rem;

  // typography
  font-size: 0;
}

.contact__icon img,
.contact__icon svg {
  // box model
  height: 100%;

  // visual
  fill: $brown;
}

.contact__content {
  // typography
  color: $white;
  font-size: 0.85rem;
}

.contact__content a {
  // typography
  color: $white;
  text-decoration: none;

  &:hover {
    // typography
    color: $brown;
  }
}
