.feature {
  // positioning
  position: relative;
  z-index: 2;

  // box model
  margin: 0 auto;
  margin-bottom: 3rem;

  // typography
  text-align: center;

  @include atTablet {
    // box model
    flex-basis: calc(50% - 1rem);
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 4rem;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(33% - 2rem);
    margin: 0 1rem;
    margin-bottom: 3rem;

    // typography
    text-align: left;
  }

  // &--first {
  //   @include atDesktopLarge {
  //     // box model
  //     width: 100%;
  //   }
  // }
}


.feature__number {
  // positioning
  position: absolute;
  z-index: -1;
  right: 1rem;
  top: 0;

  // typography
  color: rgba($brown, 0.5);
  font-family: $titleFont;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;

  @include atTablet {
    // positioning
    right: -1rem;
    top: -1rem;

    // typography
    font-size: 4.5rem;
  }

  @include atDesktopS {
    // positioning
    bottom: 2.5rem;
    right: 0;
    top: auto;

    // typography
    color: rgba($brown, 0.125);
    font-size: 7.5rem;
  }
}

.feature__icon {
  // positioning
  position: relative;
  z-index: 1;

  // box model
  display: inline-block;
  height: 6rem;
  width: 6rem;
  margin-bottom: 1rem;

  @include atTablet {
    // box model
    height: 4rem;
    width: 4rem;
  }

  @include atDesktopM {
    // box model
    height: 6rem;
    width: 6rem;
  }
}

.feature__icon svg,
.feature__icon img {
  // box model
  max-height: 100%;
  max-width: 100%;

  // visual
  fill: $white;
}


.feature__title {
  // positioning
  position: relative;
  z-index: 3;

  // typography
  color: $white;
  font-family: $titleFont;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05em;
  // line-height: 1.25;
  text-transform: uppercase;

  @include atTablet {
    // typography
    font-size: 0.85rem;
  }

  @include atDesktopM {
    // typography
    font-size: 1rem;
  }

  // @include atTabletsPortrait {
  //   // typography
  //   font-size: 0.9rem;
  // }

  // @include atTabletsLandscape {
  //   // typography
  //   font-size: 1.25rem;
  // }

  // @include atDesktop {
  //   // box model
  //   max-width: 260px;

  //   // typography
  //   font-size: 0.9rem;
  // }

  // @include atDesktopLarge {
  //     // box model
  //     max-width: 400px;

  //     // typography
  //     font-size: 1.25rem;
  // }
}
