.features {
  // visual
  background-color: $dark;

  @include atTablet {
    // box model
    padding-bottom: 0;
  }

  // @include atDesktopLarge {
  //   // visual
  //   background-image: url("./img/bg-inner-d.jpg");
  //   background-size: cover;

  //   .section__header {
  //     // box model
  //     margin-right: 60px;
  //     float: left;
  //   }
  // }

}

.features__content {
  @include atTablet {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
