.features {
  // visual
  background-color: $dark;

  @include atTablet {
    // box model
    padding-bottom: 0;
  }

  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4.5rem 3rem;
    padding-bottom: 2.5rem;

    // visual
    background-image: url("./img/bgs/features.jpg");
    background-size: cover;
  }

  @include atDesktopM {
    padding: 6rem $dPadding;
    padding-bottom: 3rem;
  }
}

.features__header {
  @include atDesktopS {
    // box model
    flex-basis: calc(30% - 2rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.features__content {
  @include atTablet {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(70% - 3rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
