.feedback {
  // box model
  padding: 3rem 0;

  // @include atDesktop {
  //   // box model
  //   padding: 80px;

  //   // visual
  //   background-image: linear-gradient(to bottom, #989898, #ffffff);
  // }
}


.feedback__header {
  // positioning
  position: relative;

  // box model
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vw);
  padding: 2rem;

  // visual
  background-color: $dark;
  background-image: url("./img/feedback2.jpg");
  background-size: cover;

  // @include atTabletsPortrait {
  //   // box model
  //   height: calc(50vw - 50px);
  //   // visual
  //   background-image: url("./img/feedback2.jpg");
  // }

  // @include atDesktop {
  //   // box model
  //   display: inline-block;
  //   vertical-align: top;
  //   height: calc(40vw - 85px);
  //   width: calc(40vw - 85px);
  //   margin-right: 20px;

  //   // visual
  //   background-image: url("./img/feedback.jpg");
  // }
}

.feedback__header::before {
  content: "";

  // positioning
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 2;

  // box model
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);

  // visual
  border: 2px solid $white;
}

.feedback__suptitle {
  // box model
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  // typography
  color: $white;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  // @include atTabletsPortrait {
  //   // box model
  //   padding-bottom: 40px;

  //   // typography
  //   font-size: 1.125rem;
  //   letter-spacing: 2px;
  // }
}

.feedback__title {
  // box model
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  // typography
  color: $white;
  font-weight: 400;
  text-transform: uppercase;

  // @include atTabletsPortrait {
  //   // box model
  //   padding-bottom: 10px;

  //   // typography
  //   font-size: 2rem;
  //   letter-spacing: 2px;
  // }
}

.feedback__subtitle {
  // positioning
  position: relative;

  // box model
  margin: 0;
  padding: 0;

  // typography
  color: $white;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  // @include atTabletsPortrait {
  //   // box model
  //   padding-bottom: 20px;

  //   // typography
  //   font-size: 1.125rem;
  //   letter-spacing: 2px;
  // }

  &::after {
    content: "";

    // positioning
    position: absolute;
    bottom: -20px;
    left: 0;

    // box model
    height: 2px;
    width: 50px;

    // visual
    background-color: $white;
  }
}

.feedback__more {
  // positioning
  position: absolute;
  bottom: 40px;
  z-index: 3;
}

.feedback__content {
  // box model
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;

  // @include atDesktop {
  //   // box model
  //   display: inline-block;
  //   vertical-align: top;
  //   width: calc(60vw - 110px);
  // }
}

.feedback__image {
  // positioning
  position: relative;

  // box model
  display: block;
  flex-basis: calc(50% - 0.5rem);
  margin-bottom: 1rem;
  padding-bottom: calc(50% - 0.5rem);

  // visual
  overflow: hidden;
}

.feedback__image img {
  // positioning
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // box model
  display: block;

  // visual
  object-fit: cover;
  object-position: center center;
}
