.feedback {
  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
    padding: 4.5rem 3rem;

    // visual
    background-image: linear-gradient(to bottom, #989898, $white);
  }

  @include atDesktopM {
    // box model
    padding: 6rem $dPadding;
  }
}


.feedback__header {
  // positioning
  position: relative;

  // box model
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vw);
  padding: 2rem;

  // visual
  background-color: $dark;
  background-image: url("./img/feedback2.jpg");
  background-size: cover;
  background-position: center center;

  @include atTablet {
    // box model
    height: auto;
  }

  @include atDesktopS {
    // box model
    flex-basis: fill;
    flex-grow: 1;
    margin-right: 1rem;
    padding: 3rem;
  }

  // @include atTabletsPortrait {
  //   // box model
  //   height: calc(50vw - 50px);
  //   // visual
  //   background-image: url("./img/feedback2.jpg");
  // }

  // @include atDesktop {
  //   // box model
  //   display: inline-block;
  //   vertical-align: top;
  //   height: calc(40vw - 85px);
  //   width: calc(40vw - 85px);
  //   margin-right: 20px;

  //   // visual
  //   background-image: url("./img/feedback.jpg");
  // }
}

.feedback__header::before {
  content: "";

  // positioning
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 2;

  // box model
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);

  // visual
  border: 2px solid $white;
  pointer-events: none;
}

.feedback__caption {
  @include atTablet {
    // box model
    margin-bottom: 2rem;
  }
}

.feedback__more {
  @include atTablet {
    // box model
    margin-left: auto;
  }
}

.feedback__content {
  // box model
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  @include atDesktopS {
    // box model
    flex-basis: calc(60vw - 12rem);
    padding: 0;
    margin-bottom: -1rem;
  }
}

.feedback__image {
  // positioning
  position: relative;

  // box model
  display: block;
  flex-basis: calc(50% - 0.5rem);
  margin-bottom: 1rem;
  padding-bottom: calc(50% - 0.5rem);

  // visual
  overflow: hidden;

  @include atTablet {
    // box model
    flex-basis: calc(33% - 0.5rem);
    padding-bottom: calc(33% - 0.5rem);
  }
}

.feedback__image img {
  // positioning
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // box model
  display: block;

  // visual
  object-fit: cover;
  object-position: center center;
}
