.footer-menu {

}

.footer-menu__item {
  // typography
  text-align: center;
}

.footer-menu__item a {
  // typography
  color: $white;
  font-family: $titleFont;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
