.footer-logo {
  // box model
  margin-bottom: 2rem;

  // typography
  text-align: center;

  // @include atTabletsLandscape {
  //   // box model
  //   display: inline-block;
  //   vertical-align: top;
  //   width: 250px;
  // }

  // @include atDesktop {
  //   // box model
  //   margin-right: 35px;
  //   // padding-top: 20px;
  // }
}


.footer-logo__image {
  // box model
  width: 10rem;
  margin: 0 auto;
  margin-bottom: 1rem;

  // @include atTabletsLandscape {
  //   // positioning
  //   left: -15px;
  // }
}

.footer-logo__image svg, 
.footer-logo__image img {
  // box model
  width: 100%;
}

.footer-logo__title {
  // typography
  color: $brown;
  font-family: $titleFont;
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;

  // @include atTabletsLandscape {
  //   // typography
  //   text-align: left;
  // }
}

.footer-logo__subtitle {
  // typography
  font-family: $titleFont;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
