.header {
  // positioning
  position: relative;

  // visual
  background-color: $dark;
}

.header__top {
  // box model
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  // border
  border-bottom: 1px solid rgba($brown, 0.5);

  @include atTablet {
    // box model
    padding-left: 1.5rem;
  }
}

.header__contacts {
  // box model
  padding-top: 0.75rem;
  padding-right: 1rem;
}

.header__button {
  // box model
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;

  // border
  border-left: 1px solid rgba($brown, 0.5);
}

.header__nav {
  // box model
  // display: none;
}
