.header {
  // positioning
  position: relative;

  // visual
  background-color: $dark;
}

.header__top {
  // box model
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  // border
  border-bottom: 1px solid rgba($brown, 0.5);

  @include atTablet {
    // box model
    padding-left: 1.5rem;
  }

  @include atDesktopS {
    // box model
    display: block;
    padding: 0 3rem;
  }

  @include atDesktopM {
    // box model
    padding: 0 $dPadding;
  }
}

.header__contacts {
  // box model
  padding-top: 0.75rem;
  padding-right: 1rem;

  @include atDesktopS {
    // box model
    display: flex;
    align-items: center;
    padding-right: 0;
  }
}

.header__button {
  // box model
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;

  // border
  border-left: 1px solid rgba($brown, 0.5);

  @include atDesktopS {
    // box model
    display: none;
  }
}

.header__nav {
  @include atDesktopS {
    // box model
    padding: 1rem 3rem;
  }

  @include atDesktopM {
    // box model
    padding: 1rem $dPadding;
  }
}
