.hero {
  // positioning
  position: relative;
  z-index: 2;

  // box model
  padding: 2rem 1rem;
  padding-bottom: 0.125rem;

  // visual
  background-color: $chocolate;
  background-image: url("./img/bgs/hero-m.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.75rem 1rem 0 rgba($dark, 0.25);

  @include atTablet {
    // box model
    padding: 3rem;

    // visual
    background-image: url("./img/bgs/hero-t.jpg");
  }

  // @include atTabletsLandscape {
  //   // box model
  //   padding: 80px;
  //   padding-bottom: 10px;
  // }


  // @include atTabletsLandscape {
  //   // visual
  //   background-image: url("./img/bg-d.jpg");
  //   background-position: right center;
  // }

  // @include atDesktop {
  //   // visual
  //   background-position: right top;
  // }

  // @include atDesktopLarge {
  //   // box model
  //   min-height: 800px;
  // }
}

.hero__caption {
  // positioning
  position: relative;

  // box model
  margin: 2rem 0;
  margin-bottom: 3rem;
  padding-top: 0.125rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;

  // border
  border-left: 2px solid rgba($white, 0.75);

  // @include atTabletsPortrait {
  //   // box model
  //   margin-bottom: 60px;
  // }

  // @include atDesktop {
  //   // box model
  //   margin-bottom: 60px;
  // }

  // @include atDesktopLarge {
  //   // box model
  //   padding-top: 110px;
  // }

  // &::after {
  //   content: "";

  //   // positioning
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;

  //   // box model
  //   height: 2px;
  //   width: 50%;

  //   // visual
  //   background-color: $brown;
  // }
}

.hero__welcome {
  // box model
  padding-bottom: 0.25rem;

  // typography
  color: $brown;
  font-family: $titleFont;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  // @include atTabletsPortrait {
  //   // typography
  //   font-size: 1.25rem;
  // }

  // @include atDesktop {
  //   // typography
  //   font-size: 1.5rem;
  // }
}

.hero__title {
  // box model
  padding-bottom: 0.5rem;

  // typography
  color: $white;
  font-family: $titleFont;
  font-size: 2.75rem;
  line-height: 1;
  text-transform: uppercase;

  @include atTablet {
    // typography
    font-size: 4rem;
  }

  // @include atTabletsPortrait {
  //   // box model
  //   margin-left: -4px;
  //   padding-bottom: 20px;

  //   // typography
  //   font-size: 5rem;
  //   line-height: 0.9;
  // }

  // @include atDesktop {
  //   // box model
  //   margin-left: -6px;

  //   // typography
  //   font-size: 7rem;
  // }

  // @include atDesktopLarge {
  //   // typography
  //   font-size: 8rem;
  // }
}

.hero__subtitle {
  // box model
  padding-right: 2rem;

  // typography
  color: $white;
  font-family: $titleFont;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-transform: uppercase;

  // @include atDesktop {
  //   // typography
  //   letter-spacing: 4px;
  // }
}

.hero__cta {
  // box model
  margin-bottom: 1rem;
  padding: 0 1rem;

  @include atTablet {
    // box model
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.hero__apps {
  // box model
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 0 1rem;

  // typography
  font-size: 0;

  @include atTablet {
    // box model
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}

.hero__quote {
  // box model
  display: none;
  margin-top: -10px;
  margin-bottom: -25px;
  padding-left: 20px;
  padding-bottom: 20px;

  // visual
  border-left: 1px solid $white;

  // @include atTabletsPortrait {
  //   // positioning
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;

  //   // box model
  //   width: 55%;
  //   padding: 30px;
  //   padding-bottom: 40px;
  //   padding-top: 10px;
  // }

  // @include atDesktop {
  //   // box model
  //   padding-right: calc(50% - 500px);
  // }

  // @include atDesktopLarge {
  //   // box model
  //   width: 45%;
  //   padding-right: calc(45% - 500px);
  // }
}

.hero__sale {
  // box model
  margin-top: -40px;
  margin-bottom: 80px;

  // typography
  color: $white;
  line-height: 1.5;

}
