.inner-section {
  // positioning
  position: relative;

  // box model
  padding: 2rem 1rem;

  @include atTablet {
    // box model
    padding: 3rem;
  }

  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
  }

  @include atDesktopM {
    // box model
    padding: 4.5rem $dPadding;
  }
}

.inner-section:nth-child(2n + 1) {
  @include atDesktopS {
    .inner-section__header {
      // box model
      margin-right: 0;
      order: 1;
    }

    .inner-section__content {
      // box model
      margin-right: 3rem;
    }
  }
}

.inner-section__header {
  // box model
  margin-bottom: 1rem;

  @include atDesktopS {
    // box model
    flex-basis: 25rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 3rem;
  }
}

.inner-section__title {
  // box model
  padding: 1rem;

  // typography
  color: $brown;
  font-family: $titleFont;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  @include atDesktopS {
    // box model
    padding: 0;
    margin-bottom: 2rem;

    // typography
    font-size: 2rem;
  }
}

.inner-section__image {
  // positioning
  position: relative;

  // box model
  max-width: 25rem;
  margin: 0 auto;

  // typography
  font-size: 0;

  @include atDesktopS {
    // box model
    margin: 0;
  }

  &::before {
    content: "";

    // positioning
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;

    // box model
    height: 100%;
    width: 100%;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);

    // visual
    border: 2px solid $brown;
  }

  img {
    // box model
    height: 100%;
    width: 100%;
  }
}

.inner-section__content {
  // box model
  padding: 0 1rem;

  // typography
  font-size: 0.85rem;

  @include atDesktopS {
    // box model
    flex-basis: calc(50% - 1.5rem);
    flex-grow: 1;
    flex-shrink: 0;

    // typography
    font-size: 1rem;
  }

  // @include atTabletsPortrait {
  //   // box model
  //   margin-top: -20px;
  // }

  // @include atDesktop {
  //   // box model
  //   display: flex;
  //   flex-direction: column;
  //   // justify-content: center;
  //   min-height: 450px;
  //   margin-top: 0;
  // }

  p {
    // box model
    margin-bottom: 1rem;
  }
}
