.logo {
  // positioning
  position: relative;
  z-index: 3;

  // box model
  display: block;
  width: 10rem;
  margin: 0 auto;

  @include atTablet {
    // box model
    width: 12rem;
  }

  // margin-bottom: -70px;
  // padding: 20px;

  // @include atTabletsPortrait {
  //   max-width: 380px;
  //   margin: 0;
  //   margin-bottom: -120px;
  //   padding-left: 60px;
  //   padding-top: 40px;
  // }
}

.logo svg,
.logo img {
  // box model
  width: 100%;
}
