.main-menu {
  // typography
  font-size: 0;

  @include atDesktopS {
    // box model
    display: flex;
  }
}

.main-menu li {
  // box model
  margin: 0;
  padding: 0.125rem;

  // typography
  text-align: center;
}

.main-menu a {
  // box model
  display: block;
  padding: 0.25rem;

  // typography
  color: $white;
  font-family: $titleFont;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  // visual
  transition: all 0.25s ease-out;

  @include atDesktopS {
    // box model
    padding: 0;
    margin-left: 2rem;

    // typography
    font-size: 1rem;
  }
}

.main-menu a:hover {
  // typography
  color: $brown;
}
