.map {
  // positioning
  position: relative;

  // box model
  display: none;

  @include atDesktopS {
    // box model
    display: block;

    // visual
    background-color: $white;
    overflow: hidden;
  }

  &::before {
    content: "";

    // positioning
    position: absolute;
    bottom: 0;
    left: 40px;
    z-index: 999;

    // box model
    height: 400px;
    width: 500px;

    // visual
    background-image: url("./img/frank.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.map__map {
  @include atTablet {
    // box model
    height: 500px;
  }

  @include atDesktopS {
    // box model
    height: 600px;
  }
}
