.partner {
  // box model
  flex-basis: calc(33% - 2rem);
  max-height: 4rem;
  margin: 1rem;
}

.partner img {
  // box model
  height: 100%;
  width: 100%;

  // visual
  object-fit: contain;
  object-position: center center;
  opacity: 0.5;
}
