.partner {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    height: 120px;
    // max-width: 22%;
    max-width: 280px;

    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        // box model
        max-height: 100%;
        max-width: 100%;

        // visual
        opacity: 0.5;
    }
}