.partners {
  // box model
  display: none;

  @include atTablet {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 1rem;
    padding-top: 0;

    // visual
    background-color: $white;
    background-image: linear-gradient(to bottom, #989898, $white);
  }

  @include atDesktopS {
    // box model
    justify-content: space-around;
  }
}
