.prices {
  // box model
  padding: 0;

  @include atDesktopS {
    // box model
    padding: 4.5rem 3rem;

    // visual
    background-image: url('./img/bgs/prices.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include atDesktopM {
    // box model
    padding: 6rem $dPadding;
  }

  // &__column {
  //   @include atDesktop {
  //     // box model
  //     display: inline-block;
  //     vertical-align: top;
  //     width: calc(50% - 21px);

  //     &--left {
  //       // box model
  //       margin-right: 40px;
  //     }
  //   }
  // }

  // &__city {
  //   // typography
  //   color: $brown;
  //   font-family: $titleFont;
  //   font-size: 2rem;
  //   letter-spacing: 2px;
  //   text-transform: uppercase;
  // }
}

.prices__wrapper {
  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
  }
}

.prices__header {
  // box model
  padding: 3rem 1rem;
  padding-bottom: 0;

  @include atTablet {
    // box model
    padding: 3rem;
    padding-bottom: 0;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(35% - 2rem);
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 3rem;
    margin-top: 1rem;
    padding: 0;
  }
}

.prices__content {
  // box model
  padding: 0 1rem;
  padding-bottom: 2rem;

  @include atTablet {
    // box model
    padding: 3rem;
    padding-top: 0;

    // visual
    background-image: url('./img/bgs/prices.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: contain;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(65% - 5rem);
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;

    // visual
    background: none;
  }
}
