.price-table {
  // box model
  margin-bottom: 2rem;

  @include atDesktopS {
    // box model
    margin-bottom: 3rem;
  }
}

.price-table__head {
  // box model
  padding: 1rem;
}

.price-table__title {
  // typography
  color: $white;
  font-family: $titleFont;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.price-table__body {
  // box model
  padding: 1rem 0.5rem;

  // border
  border: 2px solid $brown;

  @include atDesktopS {
    // box model
    padding: 1.5rem 1rem;
  }
}

.price-table__row {
  // box model
  margin-bottom: 1px;
  padding: 0.5rem;

  // visual
  transition: all 0.25s ease-out;

  @include atDesktopS {
    // box model
    padding: 0.5rem 1rem;
  }
}

.price-table__row--open {
  // box model
  padding: 1rem 0.5rem;

  // visual
  background-color: rgba($brown, 0.25);

  @include atDesktopS {
    // box model
    padding: 1rem;
  }
}

.price-table__row:hover {
  // visual
  background-color: rgba($brown, 0.25);
  cursor: pointer;
}

.price-table__caption {
  // box model
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-table__name {
  // box model
  margin-right: 2rem;

  // typography
  font-family: $titleFont;
  font-size: 1rem;
  text-transform: uppercase;

  @include atDesktopM {
    // typography
    font-size: 1.25rem;
  }
}

.price-table__name small {
  // box model
  display: block;

  // typography
  color: $brown;
  font-family: $mainFont;
  text-transform: none;
}

.price-table__price {
  // box model
  flex-basis: 3rem;
  flex-grow: 0;
  flex-shrink: 0;

  // typography
  font-family: $titleFont;
  text-align: right;
  white-space: nowrap;

  @include atDesktopM {
    // typography
    font-size: 1.25rem;
  }

  &::after {
    content: " ₽";
  }
}

.price-table__description {
  // box model
  padding: 0;
  max-height: 0;

  // typography
  font-size: 0.85rem;

  // visual
  opacity: 0;
  overflow: hidden;
  transition: all 0.25s ease-out;
}

.price-table__row--open .price-table__description {
  // box model
  padding: 0.5rem 0;
  max-height: initial;

  // visual
  opacity: 1;
}
