.promo {
  // positioning
  position: relative;

  // box model
  margin-bottom: 2rem;

  // typography
  text-align: center;

  @include atDesktopS {
    // box model
    display: flex;
    flex-basis: calc(50% - 1rem);
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 1.5rem;

    // typography
    text-align: left;
  }
}


.promo__image {
  // box model
  display: none;

  @include atTablet {
    // positioning
    position: absolute;
    left: -1.5rem;
    top: 1rem;
    z-index: 3;

    // box model
    display: block;
    height: 10rem;
  }

  @include atDesktopS {
    // positioning
    top: 50%;
    transform: translateY(-50%);

    // box model
    height: 13rem;
  }
}

.promo img {
  // box model
  height: 100%;
  width: 100%;
}

.promo__content {
  // positioning
  position: relative;
  z-index: 2;

  // box model
  padding: 1.5rem;

  // visual
  border: 2px solid $brown;

  @include atTablet {
    // box model
    padding-left: 10rem;
  }

  @include atDesktopS {
    // box model
    padding: 2rem;
    padding-left: 12rem;
  }
}

.promo__header {
  // positioning
  position: relative;

  // box model
  margin-bottom: 3rem;

  &::after {
    content: "";

    // positioning
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);

    // box model
    height: 2px;
    width: 4rem;

    // visual
    background-color: $brown;

    @include atDesktopS {
      // positioning
      left: 0;
      transform: none;
    }
  }
}

.promo__suptitle {
  // box model
  display: none;
  margin-bottom: 1rem;

  // typography
  color: $white;
  font-family: $titleFont;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include atDesktopM {
    // typography
    font-size: 0.85rem;
  }

  // &::before {
  //   content: "X ";

  //   // typography
  //   font-size: 0.75em;
  // }

  // &::after {
  //   content: " X";

  //   // typography
  //   font-size: 0.75em;
  // }
}

.promo__title {
  // box model
  margin-bottom: 0.25rem;

  // typography
  color: $brown;
  font-family: $titleFont;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;

  @include atDesktopM {
    // typography
    font-size: 1.5rem;
  }
}

.promo__subtitle {
  // typography
  color: $white;
  font-family: $titleFont;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include atDesktopM {
    // typography
    font-size: 1rem;
  }
}

.promo__text {
  // typography
  color: $white;
  font-size: 0.85rem;
  line-height: 1.75;
}

.promo__more {
  // box model
  display: none;
}
