.quote {
  // positioning
  position: relative;

  // box model
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;
}


.quote__deco {
  // positioning
  position: absolute;
  left: 0;
  top: -1rem;

  // box model
  width: 2.5rem;
  height: 1rem;

  // visual
  background-image: url('./img/mustache.svg');
  background-repeat: no-repeat;
  background-position: center left;
}

.quote__title {
  // box model
  padding-bottom: 1rem;

  // typography
  font-family: $titleFont;
  font-size: 1.75rem;
  text-transform: uppercase;

  @include atDesktopM {
    // typography
    font-size: 2rem;
  }

  em {
    // typography
    color: $brown;
    font-style: normal;
  }
}

.quote__text {
  // box model
  margin: 0;
  padding: 0;

  // typography
  font-style: italic;
  line-height: 1.5;
  font-size: 1.125rem;
  // text-transform: uppercase;

  @include atDesktopM {
    // typography
    font-size: 1.25rem;
  }
}

.quote__signature {
  // positioning
  position: absolute;
  bottom: -4.5rem;
  right: 0;
  z-index: 2;

  // box model
  width: 12rem;

  @include atDesktopM {
    // positioning
    right: -5rem;

    // box model
    width: 16rem;
  }

  img {
    // box model
    width: 100%;
  }
}
