.section {
  // box model
  padding: 3rem 1rem;
}

.section--wrapper {
  // box model
  max-width: 1400px;
  margin: 0 auto;
}

.section__header {
  // positioning
  position: relative;

  // box model
  margin-bottom: 3rem;
  padding-bottom: 0.125rem;
  padding-left: 1rem;

  // border
  border-left: 2px solid $brown;
}

.section__content {
  // box model
  padding: 0 1rem;

  ul {
    // box model
    padding: 0;

    // visual
    list-style: none;
  }

  p, li {
    // box model
    margin: 1rem 0;

    // typography
    font-size: 0.85rem;
    line-height: 1.5;
  }

  li {
    // box model
    padding: 0;

    &::before {
      content: "— ";

      // typography
      color: $brown;
    }
  }
}

// .section__more {
//   // box model
//   padding-top: 20px;

//   // @include atTabletsPortrait {
//   //   // box model
//   //   padding-top: 40px;
//   // }

//   a {
//     // box model
//     display: inline-block;

//     // typography
//     color: $brown;
//     font-size: 1rem;
//     font-weight: 700;
//     // letter-spacing: 1px;
//   }
// }
