.services {
  // visual
  background-color: $white;

  @include atTablet {
    // box model
    padding-bottom: 0;
  }

  @include atDesktopS {
    // positioning
    position: relative;

    // box model
    padding-bottom: 6rem 3rem;
    padding-bottom: 6rem;

    // visual
    background-image: url("./img/bgs/services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}


.services__content {
  // positioning
  position: relative;

  @include atTablet {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include atDesktopS {
    // box model
    justify-content: space-between;
    padding-right: 30%;
  }

  // @include atDesktop {
  //   // box model
  //   display: block;
  //   padding-bottom: 200px;

  //   // typography
  //   text-align: left;
  // }

  // @include atDesktopLarge {
  //   // box model
  //   padding-bottom: 260px;

  //   // typography
  //   text-align: left;
  // }

  // @media (min-width: 1800px) {
  //   // box model
  //   padding-bottom: 80px;
  // }
}

.services__quote {
  // box model
  display: none;

  @include atDesktopS {
    // positioning
    position: absolute;
    right: 3rem;
    bottom: 0;

    // box model
    display: block;
    width: 24rem;
    padding: 3rem;
    padding-top: 0;
    padding-left: 2rem;

    // border
    border-left: 2px solid $brown;
  }
}
