.service {
  // box model
  padding-bottom: 3rem;

  // typography
  text-align: center;

  // @include atTabletsPortrait {
  //   // box model
  //   display: inline-block;
  //   vertical-align: top;
  //   width: 49%;
  //   padding: 30px;
  //   padding-bottom: 60px;
  // }

  // @include atDesktop {
  //   // box model
  //   width: 25%;
  // }
}

.service__icon {
  // box model
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.service svg,
.service img {
  // box model
  max-height: 100%;
  max-width: 100%;
}

.service__title {
  // box model
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;

  // typography
  color: $dark;
  font-family: $titleFont;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.service__description {
  // box model
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;

  // typography
  color: $brown;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 1.5;
}

.service__more {
  // box model
  width: 60%;
  margin: 0 auto;

  // @include atDesktop {
  //   // box model
  //   display: none;
  // }
}
