.service {
  // box model
  padding-bottom: 3rem;

  // typography
  text-align: center;

  @include atTablet {
    // box model
    flex-basis: calc(50% - 1rem);
    margin: 0 0.5rem;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(33% - 2rem);
  }
}

.service__header {
  @include atDesktopS {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.service__icon {
  // box model
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;

  @include atTablet {
    // box model
    height: 3rem;
    width: 3rem;
  }

  @include atDesktopS {
    // box model
    height: 4rem;
    width: 4rem;
  }
}

.service svg,
.service img {
  // box model
  max-height: 100%;
  max-width: 100%;
}

.service__title {
  // box model
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;

  // typography
  color: $dark;
  font-family: $titleFont;
  font-size: 1.75rem;
  text-transform: uppercase;

  @include atTablet {
    // typography
    font-size: 1.5rem;
  }

  @include atDesktopM {
    // typography
    font-size: 2rem;
  }
}

.service__description {
  // box model
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;

  // typography
  color: $brown;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 1.5;

  @include atTablet {
    // typography
    font-size: 0.75rem;
  }

  @include atDesktopM {
    // box model
    padding-bottom: 2rem;

    // typography
    font-size: 1rem;
  }
}

.service__more {
  // box model
  width: 75%;
  margin: 0 auto;

  // @include atDesktop {
  //   // box model
  //   display: none;
  // }
}

.service__background {
  // box model
  display: none;
}


// .service-thumb {
//   // positioning
//   position: relative;

//   // box model
//   display: inline-block;
//   width: 480px;
//   height: 390px;
//   margin-bottom: 40px;
  
//   // visual
//   overflow: hidden;
  
//   &:nth-of-type(2n - 1) {
//       // box model
//       margin-right: 50px;
//   }

//   &__header {
//       // positioning
//       position: absolute;
//       left: 20px;
//       top: 20px;
//       z-index: 2;

//       // box model
//       height: 350px;
//       width: 440px;

//       // visual
//       border-left: 1px solid $white;
//       border-top: 1px solid $white;

//       &::before {
//           content: "";

//           // positioning
//           position: absolute;
//           right: 0;
//           top: 0;

//           // box model
//           height: 290px;
//           width: 1px;

//           // visual
//           background-color: $white;
//       }

//       &::after {
//           content: "";

//           // positioning
//           position: absolute;
//           bottom: 0;
//           left: 0;

//           // box model
//           height: 1px;
//           width: 380px;

//           // visual
//           background-color: $white;
//       }
//   }

//   &__title {
//       // box model
//       padding-top: 30px;

//       // typography
//       color: $white;
//       font-family: $titleFont;
//       font-size: 2rem;
//       text-align: center;
//       text-transform: uppercase;
//   }

//   &__description {
//       // positioning
//       position: absolute;
//       top: 150px;

//       // box model
//       padding: 0 50px;

//       // typography
//       color: $white;
//       font-size: 1rem;
//       line-height: 1.5;
//       font-weight: 700;
//       text-align: center;
//   }

//   &__more {
//       // positioning
//       position: absolute;
//       bottom: 50px;
//       z-index: 3;

//       // box model
//       width: 100%;
      
//       // typography
//       text-align: center;
      
//       a {
//           // box model
//           display: inline-block;
//           vertical-align: top;
//           padding: 10px 30px;
          
//           // typography
//           color: $white;
//           font-size: 1rem;
//           letter-spacing: 1px;
//           text-decoration: none;
//           text-transform: uppercase;

//           // visual
//           border: 2px solid $brown;
//           transition: all 0.3s ease-out;

//           &:hover {
//               // visual
//               background-color: $brown;
//           }
//       }
//   }

//   &__icon {
//       // positioning
//       position: absolute;
//       bottom: 0;
//       right: 0;
//       z-index: 2;

//       // box model
//       height: 60px;
//       width: 60px;
//       padding: 5px;
//       // border: 1px solid red;

//       img {
//           // box model
//           display: inline-block;
//           vertical-align: bottom;
//           max-height: 100%;
//           max-width: 100%;
//       }
//   }

//   &__background {
//       // positioning
//       position: absolute;
//       left: 0;
//       top: 0;

//       // box model
      
//   }
// }
