.subtitle {
  // box model
  margin-bottom: 0.25rem;

  // typography
  font-family: $titleFont;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include atDesktopM {
    // typography
    font-size: 1.25rem;
  }
}
