.title {
  // box model
  margin: 0;
  padding: 0;
  padding-bottom: 0.25rem;

  // typography
  font-family: $titleFont;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.125;
  text-transform: uppercase;

  @include atDesktopM {
    // typography
    font-size: 3rem;
  }
}

.title small {
  // box model
  display: inline-block;
  vertical-align: top;

  // typography
  font-size: 0.625em;
  line-height: 1.25;
}
