.video {
  // box model
  width: 100%;
  height: 56vw;
  max-width: 900px;
  max-height: 520px;
  padding: 6px;

  // visual
  border: 2px solid $brown;

  @include atDesktopS {
    // box model
    display: block;
    height: 22rem;
    // max-width: 500px;
    // width: 35%;
  }
}

.video iframe {
  // box model
  height: 100%;
  width: 100%;
}
