section.about.section.section--fx
  .section__column
    header.section__header
      p.subtitle.dark О Барбершопе
      h2.title.brown Lucky Frank Barbershop
      p.subtitle.dark Мы всегда рады видеть тебя

    .about__video
      .video 
        <iframe class="about-video-1" src="https://www.youtube.com/embed/hgiaf5ew3kM?showinfo=0" frameborder="0" gesture="media" allowfullscreen> </iframe>
    .section__content.dark
      p.section-text Мы знаем толк в&nbsp;классическом стиле и&nbsp;открыты для&nbsp;новых идей. Уверены, что&nbsp;каждый — от&nbsp;студента до&nbsp;успешного бизнесмена, имеет право выглядеть безупречно и&nbsp;наслаждаться отличным сервисом. 
      p.section-text Новый имидж, повседневный уход или&nbsp;торжественные укладки. В&nbsp;Lucky Frank Barbershop работают профессионалы, которые чувствуют потребности клиента, и&nbsp;каждый раз вы остаетесь довольны результатом. 

  .section__column
    .section__content.dark
      h3.title <small>Салон–парикмахерская <br />с&nbsp;мужским характером</small>

      p.section-text Залы для мужчин в&nbsp;обычных парикмахерских больше не привлекают, и&nbsp;вам хочется чего-то большего, чем просто стрижка в&nbsp;недорогом салоне? В&nbsp;барбершопе вас ждет безупречный сервис, спокойная атмосфера и&nbsp;интересное общение:
      ul 
        li классические услуги для&nbsp;мужчин – королевское бритье опасной бритвой, коррекция бороды и&nbsp;усов, стрижки и&nbsp;укладки с&nbsp;помощью американских и&nbsp;европейских инструментов и&nbsp;косметики;
        li доброжелательные барберы, готовые воплотить любые идеи и&nbsp;предложить выразительный имидж с&nbsp;учетом индивидуальных особенностей внешности и&nbsp;характера;
        li уютный интерьер, бесплатные напитки, зона для&nbsp;отдыха и&nbsp;общения с&nbsp;игровыми приставками. 

      p.section-text Хотите сэкономить на&nbsp;посещении барбера? Выбирайте дешевые комплексные услуги, например, стрижку и&nbsp;коррекцию бороды, либо приходите с&nbsp;другом или&nbsp;сыном.
      p.section-text Забронируйте посещение Lucky Frank по&nbsp;телефону или&nbsp;на сайте, выбрав адрес филиала, мастера, процедуру, удобное время и&nbsp;дату.

      //- img(src="/img/about-deco.png", alt="")

    .about__more 
      a.button(href="#") узнай больше

