
section.section.features
  header.section__header
    p.subtitle Преимущества салона–парикмахерской Lucky&nbsp;Frank
    h2.title.brown Почему нашему барбершопу доверяют

  .features__content
    .feature.feature--first
      .feature__number 01
      .feature__icon
        img(src="./img/features/atmosphere.svg", alt="")
      h3.feature__title Незабываемая атмосфера и&nbsp;безупречный сервис

    .feature
      .feature__number 02
      .feature__icon
        img(src="./img/features/pros.svg", alt="")
      h3.feature__title Профессиональные мастера

    .feature
      .feature__number 03
      .feature__icon
        img(src="./img/features/tools.svg", alt="")
      h3.feature__title Импортные инструменты для&nbsp;стрижек и косметика

    .feature
      .feature__number 04
      .feature__icon
        img(src="./img/features/parking.svg", alt="")
      h3.feature__title Удобная парковка

    .feature
      .feature__number 05
      .feature__icon
        img(src="./img/features/drinks.svg", alt="")
      h3.feature__title Большой ассортимент бесплатных&nbsp;напитков

    .feature
      .feature__number 06
      .feature__icon
        img(src="./img/features/games.svg", alt="")
      h3.feature__title Можно хорошо провести время с&nbsp;друзьями за&nbsp;игрой

    .feature
      .feature__number 07
      .feature__icon
        img(src="./img/features/cards.svg", alt="")
      h3.feature__title Безналичный расчёт <br />&nbsp;

