
        section.feedback
            header.feedback__header
                p.feedback__suptitle Стрижки от Lucky Frank
                h2.feedback__title Примеры наших работ
                p.feedback__subtitle Громче любых отзывов

            .feedback__content
