section.feedback
  header.feedback__header
    .feedback__caption
      p.subtitle Стрижки от Lucky Frank <br /> 20% на&nbsp;первое посещение
      h2.title Примеры <br />наших работ
      p.subtitle Громче любых отзывов

    a.cta-button(href="#") Смотреть портфолио

  .feedback__content
    .feedback__image: img(src="./img/feedback/1.jpg", alt="")
    .feedback__image: img(src="./img/feedback/2.jpg", alt="")
    .feedback__image: img(src="./img/feedback/3.jpg", alt="")
    .feedback__image: img(src="./img/feedback/4.jpg", alt="")
    .feedback__image: img(src="./img/feedback/5.jpg", alt="")
    .feedback__image: img(src="./img/feedback/6.jpg", alt="")
