
        footer.page-footer
            .page-footer__wrapper
                .footer-logo
                    .footer-logo__image
                        img(src="/img/logo-white.svg", alt="")
                    h2.footer-logo__title Lucky Frank<br><small>территория настоящих мужчин</small>
                    .footer-logo__cards
                        img(src="/img/cards.png", alt="Платежи картой Lucky Frank")

                .footer-block
                    header.footer-block__header
                        h3.footer-block__title Краснодар

                    .footer-block__content
                        .footer-info
                            .footer-info__icon.icon-location
                            p.footer-info__text г. Краснодар, ул. Мира 54

                        .footer-info
                            .footer-info__icon.icon-phone
                            p.footer-info__text: a(href="tel:+79111234567") +7 918 195 94 19

                        .footer-info
                            .footer-info__icon.icon-mail-alt
                            p.footer-info__text: a(href="mailto:info@luckyfrank.ru") info@luckyfrank.ru
                            
                        .footer-info
                            .social.social--footer
                                a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                                a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

                .footer-block
                    header.footer-block__header
                        h3.footer-block__title Москва

                    .footer-block__content
                        .footer-info
                            .footer-info__icon.icon-location
                            p.footer-info__text г. Краснодар, ул. Мира 54

                        .footer-info
                            .footer-info__icon.icon-phone
                            p.footer-info__text: a(href="tel:+79111234567") +7 918 195 94 19

                        .footer-info
                            .footer-info__icon.icon-mail-alt
                            p.footer-info__text: a(href="mailto:info@luckyfrank.ru") info@luckyfrank.ru
                            
                        .footer-info
                            .social.social--footer
                                a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                                a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte


                //- .footer-block
                    header.footer-block__header
                        h3.footer-block__title Часы работы
                    
                    .footer-block__content
                        .footer-info
                            .footer-info__icon.icon-clock
                            p.footer-info__text.footer-info__text--schedule Понедельник: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Вторник: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Среда: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Четверг: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Пятница: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Суббота: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                | Воскресенье: 10<sup>00</sup> - 22<sup>00</sup> <br>
                                //- | Воскресенье: <em>Выходной</em>
                
                .page-footer__quote
                    blockquote.quote.quote--inversed
                        .quote__deco 
                        h3.quote__title Frank <em>Says:</em>
                        p.quote__text <strong>Любовь</strong> — это когда хочется петь и днем и ночью. Без гонорара и менеджера.
                        .quote__signature
                            img(src="/img/sign.png", alt="")
