footer.footer
  .footer__wrapper
    .footer__header
      .footer-logo
        .footer-logo__image
          img(src="/img/logo-white.svg", alt="")
        h2.footer-logo__title Барбершоп Lucky Frank
        p.footer-logo__subtitle территория настоящих мужчин
      .footer__cards
        img(src="/img/cards.png", alt="Платежи картой Lucky Frank")

    .footer__block
      h3.footer__title Меню

      ul.footer-menu 
        li.footer-menu__item: a(href="#") Главная
        li.footer-menu__item: a(href="#") О нас
        li.footer-menu__item: a(href="#") Услуги
        li.footer-menu__item: a(href="#") Цены
        li.footer-menu__item: a(href="#") Контакты

    .footer__block
      h3.footer__title Контакты

      .contact
        .contact__icon
          img(src="./img/icons/location.svg", alt="")
        .contact__content Москва, Волгоградский проспект 60 к1

      .contact
        .contact__icon
          img(src="./img/icons/phone.svg", alt="")
        .contact__content
          a(href="tel:+79855729406") +7 (985) 572–94–06

      .contact
        .contact__icon
          img(src="./img/icons/clock.svg", alt="")
        .contact__content Пн-Вс: 10<sup>00</sup> – 22<sup>00</sup>

      .contact
        .contact__content.contact__content
          .social
            a(href="https://www.instagram.com/truemanbarbershop/")
              | Instagram
              img(src="./img/icons/instagram.svg", alt="")
            a(href="https://vk.com/truemanbarbershop")
              | Vkontakte
              img(src="./img/icons/vk.svg", alt="")

    .footer__quote
      blockquote.quote
        .quote__deco 
        h3.quote__title Frank <em>Says:</em>
        p.quote__text <strong>Любовь</strong> — это когда хочется петь и днем и ночью. Без гонорара и менеджера.
        .quote__signature
          img(src="/img/sign.png", alt="")
