section.about.section.section--fx
  .section__content.dark
    p.section-text Прически для мужчин имеют великое многообразие. Выбрав подходящую стрижку, каждый может отразить свой образ жизни и характер, ведь стрижка – одна из ключевых деталей повседневного образа, наряду с костюмом по фигуре, качественной обувью и ароматом духов. Окружающие всегда обращают внимание на вашу прическу – глядя на вас, они в первую очередь видят ваше лицо, и как оно подчеркнуто, поэтому важно уделять стрижке достаточно времени и внимания.

    p.section-text В наше время модная индустрия регулярно предлагает нам свежие тренды, стираются многолетние стереотипы, которые связаны с модой и стилем. Мужчины отдают предпочтение окрашиванию волос и оригинальным стрижкам. Стильный мужчина с аккуратной качественной прической неизменно выглядит современно, уверенно и представительно.

    p.section-text Сейчас не столь важен цвет, форма стрижки или аксессуары, как сами волосы, их здоровье и ухоженный вид, поэтому необходимо стричься у профессионала своего дела. Мы отлично разбираемся в этом, мужские стрижки и бритье – наша специализация, работы наших мастеров оценены по достоинству каждым, кто приходит в <b>LUCKY FRANK</b>.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/haircuts/crop.jpg", alt="")

  .inner-section__content
    h2.inner-section__title Кроп / Crop
    p От англ. «crop» – коротко остригать. Особенностью этой стрижки является рваная текстура прядей. Кроп состоит из&nbsp;волос, коротко остриженных сзади и&nbsp;по&nbsp;бокам, и&nbsp;немного длиннее наверху – пряди зачесывают вперед или&nbsp;укладывают в&nbsp;сторону, в&nbsp;зависимости от&nbsp;длины. Это&nbsp;простая в&nbsp;уходе, универсальная стрижка, которая подходит мужчинам любого возраста, но&nbsp;особенно хорошо смотрится на&nbsp;стройных молодых мужчинах с&nbsp;симметричными и&nbsp;точеными чертами лица.
    p Как белая футболка и&nbsp;черная кожаная куртка считаются классикой мужской одежды, также и&nbsp;кроп является одной из&nbsp;самых вневременных и&nbsp;адаптивных стрижек. В&nbsp;отличие от&nbsp;многих других стрижек, таких как&nbsp;андеркат или&nbsp;помпадур, французский кроп может быть адаптирован к&nbsp;любой форме лица, и&nbsp;эстетически хорошо сочетается практически с&nbsp;любым стилем в&nbsp;одежде. Неудивительно, что&nbsp;знаменитости часто отдают ему свое предпочтение.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/haircuts/executive.jpg", alt="")

  .inner-section__content
    h2.inner-section__title Экзекьютив / Executive
    p В переводе с&nbsp;английского языка слово «executive» значит «исполнительный, начальник». Это&nbsp;классическая английская прическа, главным акцентом которой является ярко выраженный пробор сбоку. Его подчеркивают слегка выбритой полоской с&nbsp;помощью машинки для стрижки с&nbsp;тонкой насадкой. Область висков стригут коротко, а&nbsp;верхней части волос и&nbsp;челке придают объемную укладку с&nbsp;применением специальных фиксирующих средств: воска или&nbsp;геля, – чтобы подчеркнуть классический контур.
    p Экзекьютив подходит как&nbsp;для коротких, так и&nbsp;для&nbsp;длинных волос. Подобная стрижка пойдет тем, кто всегда носит прическу на&nbsp;один бок. Таким образом, если вы являетесь поклонником классического ретро, и&nbsp;ищете прическу, актуальную во&nbsp;все времена, то&nbsp;экзекьютив именно для&nbsp;вас.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/haircuts/undercut.jpg", alt="")

  .inner-section__content
    h2.inner-section__title Андеркат / Undercut
    p Мужская стрижка андеркат (от&nbsp;англ. «undercut» – срезать низ) получила свое название из-за&nbsp;ярко выраженного перехода от&nbsp;длинных волос к&nbsp;коротким. Данная прическа предусматривает контраст между длинными волосами на&nbsp;теменной области и&nbsp;коротко выбритыми висками и&nbsp;затылком. Длинная челка укладывается назад или&nbsp;набок с&nbsp;помощью средств по&nbsp;уходу за&nbsp;волосами, покрывая верхнюю часть головы.
    p Стрижка андеркат была создана еще в&nbsp;20-х годах двадцатого века, почти столетие назад, и&nbsp;выдержала проверку временем. Сегодня ей отдает предпочтение множество представителей сильного пола. Андеркат часто можно увидеть на&nbsp;обложках модных журналов, так как, в&nbsp;зависимости от&nbsp;избранного стиля одежды, она может выглядеть элегантно и&nbsp;строго, или&nbsp;креативно и&nbsp;даже экстравагантно.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/haircuts/fade.jpg", alt="")

  .inner-section__content
    h2.inner-section__title Фэйд / Fade
    p Фэйд (Fade) – это техника стрижки с&nbsp;плавным переходом от&nbsp;основной длины волос наверху к&nbsp;коже головы. Фэйд отличается от&nbsp;классического «ёжика» разной длиной волос, уменьшающейся по&nbsp;мере приближения к&nbsp;линии их роста. Основной принцип такой техники – эффект градации от&nbsp;длинных волос в&nbsp;верхней части головы к&nbsp;коротким внизу. Таким образом, создается впечатление постепенного и&nbsp;незаметного перехода к&nbsp;основному тону кожи на&nbsp;лице или&nbsp;шее.
    p Волосы сверху чаще всего укладывают с&nbsp;помощью средства на&nbsp;основе воска для&nbsp;пластичной, но&nbsp;прочной фиксации. Фэйд можно успешно совместить с&nbsp;другими стрижками. Стрижка с&nbsp;применением данной техники не&nbsp;требует слишком частого обновления, выглядит просто и&nbsp;мужественно, а&nbsp;кроме этого, выгодно подчёркивает глаза и&nbsp;лоб мужчины.
    //- p При выборе данной мужской стрижки стоит обратить внимание на стиль одежды, которую носит мужчина. Фэйд больше подходит военным, спортсменам и тем мужчинам, у которых очень насыщенный ритм жизни, так как она не требует особого ухода. Также на этой стрижке стоит остановить свой выбор обладателям пышных вьющихся волос, так как фэйд позволит сэкономить время на их выпрямлении и укладке.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/haircuts/pompadour.jpg", alt="")

  .inner-section__content
    h2.inner-section__title Пампадур / Pompadour
    p Для стрижки помпадур требуются волосы длиной не&nbsp;менее 10&nbsp;см в&nbsp;верхней части головы. Волосы на&nbsp;затылке и&nbsp;по&nbsp;бокам должны быть подстрижены, но&nbsp;не&nbsp;слишком коротко, переход между ними сглаживают, чтобы придать прическе гармоничный вид. Хотя укладка достаточно сложна, такая прическа смотрится действительно стильно.
    p Прическа формируется из&nbsp;хаотично расположенных или&nbsp;широких сформированных пышных прядей. Волосы на&nbsp;затылке должны быть тщательно причесанными и&nbsp;гладкими, насколько это&nbsp;возможно. Таким образом, можно получить модный и&nbsp;впечатляющий образ, сделав акцент на&nbsp;эффектной объемной шевелюре. Специальный воск поможет закрепить прическу, а&nbsp;средства по&nbsp;уходу за&nbsp;волосами придадут ей эффектный блеск.
    //- p И все же, очень важно, чтобы прическа подходила к конкретному овалу лица. При круглом лице можно визуально удлинить его, укладывая волосы высоко вверх, а при узком – расширить, сделав низкую фигурную укладку.
    //- p Помпадур придает волосам внешнюю густоту и объем, что удачно сочетается с бородкой.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/haircuts/flat-top.jpg", alt="")

  .inner-section__content
    h2.inner-section__title Площадка / Flat Top
    p Флэт-топ представляет собой тип короткой стрижки, где&nbsp;волосы на&nbsp;верхней части головы ставят вертикально и&nbsp;стригут так, чтобы сформировать ровную горизонтальную площадку, благодаря чему, собственно, эта прическа и получила такое название. В целом, эта стрижка может иметь легкий наклон вверх или вниз, главное, чтобы он выглядел точно остриженный по&nbsp;линейке. Этот тип стрижки обычно выполняется при помощи гребня и&nbsp;электрической машинки, либо при&nbsp;высшем уровне мастерства – ножницами вручную.
    p Площадка первоначально обрела популярность в 50-е годы двадцатого века среди спортсменов и&nbsp;военных, но&nbsp;утратила ее с&nbsp;появлением новых стилей длинных волос в конце 1960-х. В 80-х и&nbsp;начале 90-х она снова получила широкое распространение благодаря фильмам с&nbsp;участием Арнольда Шварценеггера.
    //- p Стрижка флэт-топ пойдет мужчинам любого возраста, с любой формой лица, но с единственной оговоркой – если он не является обладателем редких волос или лысины. Лучше всего, если волосы жесткие и прямые, тогда стрижка будет выглядеть естественнее и успешнее держать форму. Однако, учитывая современный спектр различных средств для ухода за волосами, этот нюанс легко исправить.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/haircuts/mohawk.jpg", alt="")

  .inner-section__content
    h2.inner-section__title Могавк (Ирокез) / Mohawk
    p Могавк или&nbsp;ирокез (также упоминается как могикан) – это прическа, которую создают, наголо выбривая боковые стороны головы, и&nbsp;оставляя посередине полосу длинных волос. Признанной классикой является длинный гребень волос ото&nbsp;лба до&nbsp;затылка, шириной в&nbsp;два-четыре пальца. Максимально допустимая длина волос в&nbsp;выбритой части до&nbsp;3&nbsp;мм.
    p В последние десятилетия ирокез становился всё короче и&nbsp;проще в&nbsp;повседневной жизни, заслужив большую популярность среди спортсменов, в&nbsp;особенности у&nbsp;футболистов и&nbsp;бойцов смешанных единоборств. Ирокез – идеальная прическа для&nbsp;мужчин с&nbsp;неукротимым буйным характером, мужественных и&nbsp;уверенных в&nbsp;себе.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/haircuts/knot.jpg", alt="")

  .inner-section__content
    h2.inner-section__title Узел / Top Knot / Man&nbsp;Bun
    p Top knot (man bun) в&nbsp;переводе с&nbsp;английского значит «узел наверху». В этой прическе выбритые виски и&nbsp;затылок сочетаются с&nbsp;длинными волосами на&nbsp;верхней части головы, из&nbsp;которых формируется плотный пучок над&nbsp;затылком. Длина прядей сверху должна составлять н&nbsp; менее 15&nbsp;см. Топ-нот часто сочетают с&nbsp;бородой, чтобы дополнить брутальный мужественный образ.
    p Процесс создания прически очень прост: виски и&nbsp;затылок выбривают, а&nbsp;на&nbsp;макушке завязывают хвост таким образом, чтобы гулька была направлена изгибом вперед. Так как для&nbsp;топ-нот требуются волосы длиной 15-20&nbsp;см, (чтобы была возможность собрать их в&nbsp;пучок), важно учитывать пышность волос. Такую гриву непросто собрать воедино, имея кудрявую объемную шевелюру, поэтому, если вы – обладатель вьющихся волос от&nbsp;природы, стоит изначально их выпрямить.
