header.page-header
  .header-contacts
    .contact-item.contact-item--address
      .contact-item__icon.icon-location
      .contact-item__content г. Краснодар, ул. Мира 54

    .contact-item.contact-item--phone
      .contact-item__icon.icon-phone
      .contact-item__content
        a(href="#") +7 918 195 94 19

    .contact-item.contact-item--schedule
      .contact-item__icon.icon-clock
      .contact-item__content Пон.-Вос.: 10<sup>00</sup>-22<sup>00</sup>

    .contact-item.contact-item--social
      .contact-item__content
        .social.social--header
          a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
          a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

    .menu-icon: .menu-icon__middle

  .logo
    a(href="index.html"): img(src="img/logo-white.svg", alt="Lucky Frank Barbershop logo")

  nav.main-nav
    .main-nav__logo: img(src="/img/logo-white.svg", alt="")
    ul.main-menu
      li: a(href="#") Главная
      li: a(href="#") О нас
      li: a(href="#") Услуги
      li: a(href="#") Прайс
      li: a(href="#") Советы
      li: a(href="#") Мастера
      li: a(href="#") Контакты
