header.header
  .header__top
    .header__contacts
      .contact
        .contact__icon
          img(src="./img/icons/location.svg", alt="")
        .contact__content Москва, Волгоградский проспект 60 к1

      .contact
        .contact__icon
          img(src="./img/icons/phone.svg", alt="")
        .contact__content
          a(href="tel:+79855729406") +7 (985) 572–94–06

      .contact.desktop-only
        .contact__icon
          img(src="./img/icons/clock.svg", alt="")
        .contact__content Пн-Вс: 10<sup>00</sup> – 22<sup>00</sup>

      .contact.contact--social.desktop-only
        .contact__content
          .social.social--header
            a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
            a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

    .header__button
      .menu-icon: .menu-icon__middle


  //- .header__nav
    .logo
      a(href="index.html"): img(src="img/logo-white.svg", alt="Lucky Frank Barbershop logo")

    nav.main-nav
      .main-nav__logo: img(src="/img/logo-white.svg", alt="")
      ul.main-menu
        li: a(href="#") Главная
        li: a(href="#") О нас
        li: a(href="#") Услуги
        li: a(href="#") Прайс
        li: a(href="#") Советы
        li: a(href="#") Мастера
        li: a(href="#") Контакты
