section.hero
  a(href="#").logo 
    img(src="img/logo-white.svg", alt="Lucky Frank Barbershop logo")

  header.hero__header
    p.hero__welcome Добро пожаловать в
    h1.hero__title Барбершоп <br>Lucky Frank
    p.hero__subtitle Мужской салон–парикмахерская для&nbsp;тех, кто&nbsp;разбирается в&nbsp;стиле

  .hero__booking
    a(href="#") Онлайн запись

  .hero__app
    a(href="https://itunes.apple.com/app/id1326142986")
      img(src="/img/app-store.png", alt="ios приложение Lucky Frank")
    a(href="https://itunes.apple.com/app/id1326142986")
      img(src="/img/google-play.png", alt="ios приложение Lucky Frank")

  .hero__quote
    blockquote.quote.quote--inversed
      .quote__deco 
      h3.quote__title Frank <em>Says:</em>
      p.quote__text Костюм, шляпа, хорошая работа и одинокое пьянство по выходным <br><strong>— вот что украшает мужчину</strong>
      .quote__signature
        img(src="/img/sign.png", alt="")

  .hero__deco

