section.hero.hero--inner
  .hero__logo 
    a(href="#").logo 
      img(src="img/logo-white.svg", alt="Lucky Frank Barbershop logo")

  header.hero__caption
    h1.hero__title Работа
    p.hero__subtitle В барбершопе Lucky Frank
