section.hero
  .hero__logo 
    a(href="#").logo 
      img(src="img/logo-white.svg", alt="Lucky Frank Barbershop logo")

  header.hero__caption
    p.hero__welcome Добро пожаловать в
    h1.hero__title Барбершоп <br>Lucky Frank
    p.hero__subtitle Мужской салон–парикмахерская для&nbsp;тех, кто&nbsp;разбирается в&nbsp;стиле

  .hero__buttons
    .hero__cta
      a.cta-button.ms_booking(href="#")  Онлайн запись
    //- .hero__apps
      a.app-button(href="https://itunes.apple.com/app/id1326142986")
        img(src="/img/apps/app-store.svg", alt="iOS приложение Lucky Frank")
      a.app-button(href="https://itunes.apple.com/app/id1326142986")
        img(src="/img/apps/google-play.svg", alt="Android приложение Lucky Frank")

  .hero__quote
    blockquote.quote.quote--inversed
      .quote__deco 
      h3.quote__title Frank <em>Says:</em>
      p.quote__text Костюм, шляпа, хорошая работа и&nbsp;одинокое пьянство по&nbsp;выходным <br><strong>— вот что украшает мужчину</strong>
      .quote__signature
        img(src="/img/sign.png", alt="")

  .hero__deco

