section.about.section.section--fx
  .section__content.dark
    h2.title <small>Друзья!</small>
    p.section-text У вас есть возможность попасть в&nbsp;нашу команду «Lucky Frank»! Если Вы мастер своего дела и&nbsp;целеустремленный человек, то&nbsp;Вам к&nbsp;нам.
    p.section-text Мы постоянно развиваемся, поэтому у&nbsp;нас есть место для&nbsp;опытных барберов, с&nbsp;возможностью роста до&nbsp;ведущих Барберов.

    h2.title <small>Требования:</small>
    ul
      li Желание расти и&nbsp;развиваться, любить своё дело и&nbsp;совершенствоваться. А&nbsp;также быть пунктуальным, коммуникабельным, ухоженным и&nbsp;чистоплотным.
      li Гражданство РФ или&nbsp;разрешительные документы. Медицинская книжка.
      li Для рассмотрения кандидатуры желательно наличие фото работ, в&nbsp;случае отсутствия таковых — готовность приехать на&nbsp;собеседование с&nbsp;моделью.
      li Работы, ссылки на&nbsp;инстаграмм, резюме на&nbsp;электронную почту.

  .section__content.dark
    h2.title <small>Обязанности:</small>
    ul
      li Выполнение мужских стрижек любой сложности;
      li Бритье опасной бритвой;
      li Стрижка бороды и&nbsp;усов;
      li Продажа мужской косметики;
      li Быть общительным и&nbsp;позитивным;
      li Умение работать в&nbsp;дружной команде и&nbsp;развиваться.

    h2.title <small>Условия:</small>
    ul
      li Процент от&nbsp;оказанных услуг и&nbsp;от&nbsp;продаж косметики. Гарантированный выход.
      li Гибкий график работы в&nbsp;дружеской атмосфере;
      li Профессиональный рост;
      li Возможность обучения;
      li Возможность профессиональной и творческой самореализации;
      li График работы и&nbsp;З/П обсуждаются на&nbsp;собеседовании.
