section.map#contacts
  .map-label
    h2.map-label__title Контакты
    h3.map-label__contact-title Адрес
    p.map-label__contact-value г. Краснодар, ул. Мира 54
    h3.map-label__contact-title Телефон
    p.map-label__contact-value: a(href="tel:+79181959419") +7 918 195-94-19
    .map-label__logo: img(src="/img/logo.svg", alt="Lucky Frank Barbershop logo")

  #map.map__map
