section#prices.section.prices
  .prices__wrapper
    .prices__header
      header.section__header
        p.subtitle Позволь себе настоящий стиль
        h2.title.brown Прайс-лист салона–парикмахерской для&nbsp;мужчин

      //- .prices__more
        a.cta-button(href="#") Все услуги

    .prices__content
      .price-table
        .price-table__head
          h3.price-table__title Основные услуги
        .price-table__body
          .price-table__row
            .price-table__caption
              p.price-table__name Стрижка мужская (со скидкой 10%)<small>для тех, кто впервые у нас</small>
              p.price-table__price 1350 
            p.price-table__description Услуга выполняется с помощью ножниц и машинок. Включает в себя мытьё головы до и после стрижки, и укладку с применением различных стайлинговых средств.
          .price-table__row
            .price-table__caption
              p.price-table__name Стрижка мужская <small>подбор стиля, мытьё головы, укладка</small>
              p.price-table__price 1500 
            p.price-table__description Услуга выполняется с помощью ножниц и машинок. Включает в себя мытьё головы до и после стрижки, и укладку с применением различных стайлинговых средств.
          .price-table__row
            .price-table__caption
              p.price-table__name Стрижка детская <small>от 5 до 14 лет</small>
              p.price-table__price 1200 
            p.price-table__description Услуга выполняется с помощью ножниц и машинок. Включает в себя мытьё головы до и после стрижки, и укладку с применением различных стайлинговых средств.
          .price-table__row
            .price-table__caption
              p.price-table__name Стрижка под машинку <small>одна насадка</small>
              p.price-table__price 600 
            p.price-table__description Услуга выполняется исключительно машинкой, с применением не более чем двух насадок. Услуга не распространяется на технику Fade.
          .price-table__row
            .price-table__caption
              p.price-table__name Коррекция бороды
              p.price-table__price 600 
            p.price-table__description Коррекция формы бороды. Выполняется с помощью ножниц и машинки.
          .price-table__row
            .price-table__caption
              p.price-table__name Моделирование бороды
              p.price-table__price 1000 
            p.price-table__description Создание формы бороды с использованием ножниц, машинок и бритвы. Распаривание с помощью масел, выбривание контуров с применением гелей, охлаждающий компресс и нанесение ароматного лосьона после услуги.
          .price-table__row
            .price-table__caption
              p.price-table__name Королевское бритьё бороды
              p.price-table__price 1500 
            p.price-table__description Королевское бритьё — это настоящий ритуал, состоящий из нескольких этапов: нанесение масла, подготавливающее к бритью; распаривание кожи полотенцем; нанесение пены; бритьё опасной бритвой; холодный компресс для успокоения кожи и нанесение бальзама после бритья. Финальным штрихом в процедуре является нанесение ароматного одеколона.
          .price-table__row
            .price-table__caption
              p.price-table__name Королевское бритьё головы
              p.price-table__price 2000 
            p.price-table__description Королевское бритьё — это настоящий ритуал, состоящий из нескольких этапов: нанесение масла, подготавливающее к бритью; распаривание кожи полотенцем; нанесение пены; бритьё опасной бритвой; холодный компресс для успокоения кожи и нанесение бальзама после бритья. Финальным штрихом в процедуре является нанесение ароматного одеколона.

      .price-table
        .price-table__head
          h3.price-table__title Дополнительные услуги
        .price-table__body
          .price-table__row
            .price-table__caption
              p.price-table__name Очищающая маска для&nbsp;лица <small>45 минут</small>
              p.price-table__price 1200
            p.price-table__description Полноценная SPA процедура очистки кожи лица, с распариванием и скрабированием. А очищающая чёрная маска разблокирует забитые поры и очистит их.
          .price-table__row
            .price-table__caption
              p.price-table__name Горячий воск
              p.price-table__price 500
            p.price-table__description Услуга включает в себя обработку 2х зон на выбор (нос, уши, пушковые волосы на щеках, шея, лоб, брови)
          .price-table__row
            .price-table__caption
              p.price-table__name Камуфляж седых волос
              p.price-table__price 1100
            p.price-table__description Услуга включает в себя подбор цвета и тонирование волос головы.
          .price-table__row
            .price-table__caption
              p.price-table__name Камуфляж бороды
              p.price-table__price 1100
            p.price-table__description Услуга включает в себя подбор цвета и тонирование волос бороды, с применением различных масел для бороды.
          .price-table__row
            .price-table__caption
              p.price-table__name Окантовка с&nbsp;подбриванием
              p.price-table__price 500
            p.price-table__description Услуга включает в себя окантовку с подбриванием контуров головы и матьё головы до и после услуги.
          .price-table__row
            .price-table__caption
              p.price-table__name Мытьё и&nbsp;укладка волос
              p.price-table__price 400
            p.price-table__description Услуга включает в себя мытьё головы и укладку с применением профессиональных стайлинговых средств.
          .price-table__row
            .price-table__caption
              p.price-table__name Hair Tattoo в&nbsp;зависимости от&nbsp;сложности
              p.price-table__price <small>от</small> 500
            p.price-table__description «Художественный выстриг волос» — это абстрактная художественная работа, которая выполняется на коротких волосах при помощи машинки для стрижки волос (триммера) и опасной бритвы.

      .price-table
        .price-table__head
          h3.price-table__title Комплексные услуги
        .price-table__body
          .price-table__row
            .price-table__caption
              p.price-table__name Стрижка мужская + Королевское бритьё
              p.price-table__price 2700
            p.price-table__description Комплексная услуга. Стрижка выполняется с помощью ножниц и машинок. Включает в себя мытьё головы до и после стрижки, и укладку с применением различных стайлинговых средств. Королевское бритьё — это настоящий ритуал, состоящий из нескольких этапов: нанесение масла, подготавливающее к бритью; распаривание кожи полотенцем; нанесение пены; бритьё опасной бритвой; холодный компресс для успокоения кожи и нанесение бальзама после бритья. Финальным штрихом в процедуре является нанесение ароматного одеколона.
          .price-table__row
            .price-table__caption
              p.price-table__name Стрижка мужская + Моделирование бороды <small>1 час 45 мин</small>
              p.price-table__price 2150
            p.price-table__description Ваш образ будет создан по традициям современного искусства. Подбором правильной формы бороды и усов занимаются занимаются специалисты с особой ответственностью, чтобы обеспечить Вам не только привлекательный внешний вид, но и соответствующий образ.
          .price-table__row
            .price-table__caption
              p.price-table__name Коррекция + Горячий воск <small>45 минут</small>
              p.price-table__price 950
            p.price-table__description Комплексная услуга. Коррекция формы бороды выполняется с помощью ножниц и машинки. Услуга «Горячий воск» включает в себя обработку 2х зон на выбор (нос, уши, пушковые волосы на щеках, шея, лоб, брови)
          .price-table__row
            .price-table__caption
              p.price-table__name Стрижка + Очищающая маска для лица <small>1 час 15 мин</small>
              p.price-table__price 2300
            p.price-table__description Комплексная услуга. Стрижка выполняется с помощью ножниц и машинок. Включает в себя мытьё головы до и после стрижки, и укладку с применением различных стайлинговых средств. Очищающая маска — это полноценная SPA процедура очистки кожи лица, с распариванием и скрабированием. А очищающая чёрная маска разблокирует забитые поры и очистит их.
          .price-table__row
            .price-table__caption
              p.price-table__name Отец + Сын
              p.price-table__price 2200
            p.price-table__description Услуга включает в себя: мытье волос головы профессиональными средствами, стрижку головы, а затем профессиональную укладку волос. В нашем салоне Вы сможете расслабиться, а Ваш сын почувствует себя взрослым, как папа. Можно записаться к одному барберу и подстричься по очереди, или одновременно к двум барберам.
          .price-table__row
            .price-table__caption
              p.price-table__name Друг + Друг
              p.price-table__price 2600
            p.price-table__description Отличная возможность сэкономить Вам и Вашему другу. Услуга включает в себя: мытье волос головы профессиональными средствами, стрижку головы, а затем профессиональную укладку волос. Можно записаться к одному барберу и подстричься по очереди, или одновременно к двум барберам.


  .partners
    .partner: img(src="./img/partners/american-crew.png", alt="American Crew logo")
    .partner: img(src="./img/partners/wahl.png", alt="WAHL logo")
    .partner: img(src="./img/partners/proraso.png", alt="Proraso logo")
    .partner: img(src="./img/partners/elegence.png", alt="Elegence logo")

