
section.section.prices
  .prices__header
    header.section__header
      p.subtitle Позволь себе настоящий стиль
      h2.title.brown Прайс-лист салона–парикмахерской для&nbsp;мужчин

    .prices__more
      a.cta-button(href="#") Все услуги

  .prices__content
    .price-table
      .price-table__head
        h3.price-table__title Основные услуги
      .price-table__body
        .price-table__row
          .price-table__caption
            p.price-table__name Стрижка мужская <small>со скидкой, для тех, кто впервые у нас</small>
            p.price-table__price 1350 
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Стрижка мужская <small>подбор стиля, мытье головы, укладка</small>
            p.price-table__price 1500 
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Стрижка детская <small>от 5 до 14 лет</small>
            p.price-table__price 1200 
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Стрижка под машинку <small>одна насадка</small>
            p.price-table__price 600 
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Коррекция бороды
            p.price-table__price 600 
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Моделирование бороды
            p.price-table__price 1000 
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Королевское бритьё бороды
            p.price-table__price 1500 
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Королевское бритьё головы
            p.price-table__price 2000 
          p.price-table__description 

    .price-table
      .price-table__head
        h3.price-table__title Дополнительные услуги
      .price-table__body
        .price-table__row
          .price-table__caption
            p.price-table__name Очищающая маска для&nbsp;лица <small>45 минут</small>
            p.price-table__price 1200
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Горячий воск
            p.price-table__price 500
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Камуфляж седых волос
            p.price-table__price 1100
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Камуфляж бороды
            p.price-table__price 1100
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Окантовка с&nbsp;подбриванием
            p.price-table__price 500
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Мытьё и&nbsp;укладка волос
            p.price-table__price 400
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Hair Tattoo в&nbsp;зависимости от&nbsp;сложности
            p.price-table__price <small>от</small> 500
          p.price-table__description 


    .price-table
      .price-table__head
        h3.price-table__title Комплексные услуги
      .price-table__body
        .price-table__row
          .price-table__caption
            p.price-table__name Стрижка мужская + Королевское бритьё
            p.price-table__price 2700
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Стрижка мужская + Моделирование бороды <small>1 час 45 мин</small>
            p.price-table__price 2150
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Коррекция + Горячий воск <small>45 минут</small>
            p.price-table__price 950
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Стрижка + Очищающая маска для лица <small>1 час 15 мин</small>
            p.price-table__price 2300
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Отец + Сын
            p.price-table__price 2200
          p.price-table__description 
        .price-table__row
          .price-table__caption
            p.price-table__name Друг + Друг
            p.price-table__price 2600
          p.price-table__description 


  .partners
    .partner: img(src="./img/partners/american-crew.png", alt="American Crew logo")
    .partner: img(src="./img/partners/truefitt-and-hill.png", alt="Truefitt & Hill logo")
    .partner: img(src="./img/partners/barber-wild.png", alt="Barber WILD logo")
    .partner: img(src="./img/partners/wahl.png", alt="WAHL logo")
    .partner: img(src="./img/partners/proraso.png", alt="Proraso logo")
