
        section.section.prices
            header.section__header.section__header--inversed
                p.section__suptitle Прайс Lucky Frank
                h2.section__title Прайс-лист <br>на услуги
                p.section__subtitle Позволь себе настоящий стиль
                        
            .prices__more
                a(href="").button Все услуги

            .prices__content
                .prices__column.prices__column--left
                    table.prices-table
                        thead
                            caption Основные услуги
                        tbody
                            tr
                                td Стрижка мужская <br><small>подбор стиля, мытье головы, укладка</small>
                                td 1500 
                            tr
                                td Стрижка детская <br><small>от 5 до 14 лет</small>
                                td 1200 
                            tr
                                td Стрижка под машинку <br><small>одна насадка</small>
                                td 600 
                            tr
                                td Коррекция бороды
                                td 600 
                            tr
                                td Королевское бритьё бороды<br><small>c косметикой Truefitt&nbsp;&&nbsp;Hill</small>
                                td 1500 
                            tr
                                td Королевское бритьё головы<br><small>c косметикой Truefitt&nbsp;&&nbsp;Hill</small>
                                td 2000 

                .prices__column
                    table.prices-table
                        thead
                            caption Дополнительные услуги
                        tbody
                            tr
                                td Камуфляж седых волос
                                td 1100 
                            tr
                                td Окантовка с подбриванием
                                td 500 
                            tr
                                td Мытьё и укладка волос
                                td 400 

                    table.prices-table
                        thead
                            caption Комплексные услуги
                        tbody
                            tr
                                td Стрижка мужская + Коррекция бороды
                                td 1800 
                            tr
                                td Стрижка мужская + Королевское бритьё
                                td 2700 
                            tr
                                td Отец + сын
                                td 2200 
                            tr
                                td Друг + друг
                                td 2600
                                
            .partners
                .partner: img(src="./img/partners/american-crew.png", alt="American Crew logo")
                .partner: img(src="./img/partners/truefitt-and-hill.png", alt="Truefitt & Hill logo")
                .partner: img(src="./img/partners/barber-wild.png", alt="Barber WILD logo")
                .partner: img(src="./img/partners/wahl.png", alt="WAHL logo")
                .partner: img(src="./img/partners/proraso.png", alt="Proraso logo")
