section.section.promos
  article.promo
    .promo__image
      img(src="/img/promos/student20.jpg", alt="")
    .promo__content
      header.promo__header
        p.promo__suptitle Акция
        h3.promo__title Скидка 20% для&nbsp;студентов
        p.promo__subtitle Предъяви студенческий
      p.promo__text  При предъявлении студенческого билета администратору, ты получишь скидку 20% на&nbsp;все услуги барбершопа Lucky Frank
      .promo__more
        a.cta-button(href="#") Подробнее об акции

  article.promo
    .promo__image
      img(src="/img/promos/1st.jpg", alt="")
    .promo__content
      header.promo__header
        p.promo__suptitle Акция
        h3.promo__title Скидка 10%
        p.promo__subtitle На мужскую стрижку, для&nbsp;тех кто впервые у&nbsp;нас
      p.promo__text У нас действует скидка до 10% на&nbsp;мужскую стрижку по&nbsp;всей сети барбершопов Lucky Frank
      .promo__more
        a.cta-button(href="#") Подробнее об акции
