
        section.promos
            article.promo
                .promo__image
                    img(src="/img/promo-test.jpg", alt="")
                .promo__content
                    header.promo__header
                        p.promo__suptitle Акция
                        h3.promo__title Скидка на первую стрижку
                        p.promo__subtitle Для новых клиентов
                    p.promo__text Для наших клиентов мы предлагаем акцию "Первая стрижка в подарок". По условиям которой первая стрижка в барбершопе Lucky Frank со скидкой 20%.
                    .promo__more
                        a(href="#") Подробнее об акции
                    
            article.promo
                .promo__image
                    img(src="/img/promo-test.jpg", alt="")
                .promo__content
                    header.promo__header
                        p.promo__suptitle Акция
                        h3.promo__title Скидка на первую стрижку
                        p.promo__subtitle Для новых клиентов
                    p.promo__text Для наших клиентов мы предлагаем акцию "Первая стрижка в подарок". По условиям которой первая стрижка в барбершопе Lucky Frank со скидкой 20%. Условия акции и сроки её проведения уточняйте у менеджера нашего барбершопа.

            article.promo
                .promo__image
                    img(src="/img/promo-test.jpg", alt="")
                .promo__content
                    header.promo__header
                        p.promo__suptitle Акция
                        h3.promo__title Скидка на первую стрижку
                        p.promo__subtitle Для новых клиентов
                    p.promo__text Для наших клиентов мы предлагаем акцию "Первая стрижка в подарок". По условиям которой первая стрижка в барбершопе Lucky Frank со скидкой 20%. Условия акции и сроки её проведения уточняйте у менеджера нашего барбершопа.

