section.about.about--inner.section.section--fx
  .section__column
    .section__content.dark
      p.section-text Термин <strong>«КОРОЛЕВСКОЕ БРИТЬЁ»</strong> непосредственно связан с именем Уильяма Труфита, открывшего свою первую цирюльню в 1805 году в Лондоне. Заведение заслужило высочайшую репутацию у английской аристократии и получило признание монархов Великобритании. Тогда же были заложены основы этой статусной процедуры.
      p.section-text Подарите себе элитное удовольствие! Салон Lucky Frank возрождает старинные традиции и предлагает процедуру королевского бритья бороды, выполненную по всем правилам.

  .section__column
    .section__content.dark
      h3.title <small>Что же необходимо для того, чтобы бритье стало «королевским»?</small>
      p.section-text Во-первых, это правильная опасная бритва с невероятно острой кромкой, которая сбривает волосы под корень, не раздражая кожу. И барбер, умеющий с ней обращаться.

      p.section-text Во-вторых, мужская косметика премиум-класса для бороды. Это по-настоящему элитные средства для бритья и ухода за кожей. Масла, мыло и бальзамы высочайшего качества, на основе проверенных рецептов и с применением самых современных технологий.

      p.section-text Королевское бритье - это настоящий ритуал, состоящий из нескольких этапов.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/royal/1.jpg", alt="")

  .inner-section__content
    h2.inner-section__title 1. Нанесение масла
    p В самом начале барбер наносит на&nbsp;кожу подготавливающее к&nbsp;бритью масло, которое cмягчает волосы, что&nbsp;обеспечивает комфортное и&nbsp;безопасное бритьё, а&nbsp;впоследствии предотвращает появление вросших волос.
    p Остающася на&nbsp;коже тонкая пленка масла обладает гидрофильными свойствами и&nbsp;способствует плавному скольжению лезвия опасной бритвы.
    p Кроме того, активные компоненты масла улучшают состояние кожи: выравнивают текстуру и&nbsp;уменьшают чувстительность за&nbsp;счет усиленного увлажнения клеток эпидермиса. Исчезает ощущение стянутости сухой кожи. Масло обладает обезараживающими и&nbsp;антиокислительными свойствами.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/royal/2.jpg", alt="")

  .inner-section__content
    h2.inner-section__title 2. Распаривание кожи полотенцем
    p В специальном паровом шкафу ждут своего времени разогретые махровые полотенца. Идеально подобранная температура и&nbsp;влажность не&nbsp;нанесут вашей коже ожогов или&nbsp;дискомфорта, но&nbsp;подготовят бороду к&nbsp;бритью.
    p Кожа очищается, раскрываются поры. Приливающая кровь приподнимает волоски, которые под&nbsp;горячим компрессом становятся мягче и&nbsp;прямее, благодаря чему последующее бритье будет чище и&nbsp;безопаснее. Распаривание значительно снижает уровень раздражения и&nbsp;количество микропорезов.
    p В работе используется два полотенца: спустя некоторое время барбер делает смену остывающего компресса на&nbsp;новый.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/royal/3.jpg", alt="")

  .inner-section__content
    h2.inner-section__title 3. Нанесение пены
    p На следующем этапе мастер использует свежеприготовленную пену, получаемую из&nbsp;специального мыла на&nbsp;основе натуральных компонентов высочайшего качества.
    p Для взбивания пены и&nbsp;её нанесения на&nbsp;лицо применяется особая чаша и&nbsp;помазок из&nbsp;уникальной шерсти барсука класса Silvertip. Её нежнейшие волоски, собираемые с&nbsp;небольшого участка в&nbsp;области шеи животного, отлично удерживают влагу и&nbsp;создают пену необходимой консистенции.
    p Барбер покрывает обриваемые участки кожи теплой пеной.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/royal/4.jpg", alt="")

  .inner-section__content
    h2.inner-section__title 4. Бритьё опасной&nbsp;бритвой
    p Теперь можно приступать к&nbsp;самой ответственной части всей процедуры. Бритье опасной бритвой требует немалого опыта и&nbsp;мы гордимся, что наши специалисты достигли в&nbsp;этом деле настоящего мастерства. Барбер натягивает кожу там, где это необходимо и&nbsp;именно с&nbsp;тем усилием, которое требуется на&nbsp;каждом участке лица. Максимально острое лезвие бритвы, подчиняясь ювелирным движениям руки мастера, под необходимым углом скользит по&nbsp;коже, гладко и&nbsp;начисто срезая волоски.
    p Все инструменты обязательно проходят тщательнейшую обработку и&nbsp;обеззараживание, а&nbsp;сами лезвия - одноразовые.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/royal/5.jpg", alt="")

  .inner-section__content
    h2.inner-section__title 5. Холодный компресс
    p После бритья кожу следует правильно успокоить. Для этого барбер накладывает на&nbsp;лицо холодный компресс, который стягивает поры и&nbsp;снимает раздражение. Спустя некоторое время мастер снимает охлажденное полотенце и&nbsp;убирает им остатки пены.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/royal/6.jpg", alt="")

  .inner-section__content
    h2.inner-section__title 6. Нанесение средства после&nbsp;бритья
    p После снятия охлаждающего компресса, барбер легкими, массириющими движениям и&nbsp;наносит на&nbsp;обритые участки специальный бальзам повышающий регенерацию клеток кожи.

section.inner-section
  header.inner-section__header
    .inner-section__image
      img(src="img/royal/7.jpg", alt="")

  .inner-section__content
    h2.inner-section__title 7. Нанесение одеколона
    p Финальным штрихом в&nbsp;процедуре королевского бритья является одеколон. И&nbsp;он заслуживает отдельного упоминания. Эксклюзивный аромат - яркий пример элегантной мужественности. Идеально подобранные ноты и&nbsp;высочайшее качество компонентов сделают одеколон настоящим украшением вашего обновленного образа.
