section.section.services
  .services__content.mobile-only
    article.service
      .service__icon
        img(src="/img/services/shaving.svg", alt="Бритьё в барбершопе Lucky Frank")
      h3.service__title Бритьё
      p.service__description Профессиональный подход к каждому клиенту от наших лучших мастеров-барберов
      .service__more 
        a.button(href="#") Подробнее

    article.service
      .service__icon
        img(src="/img/services/haircut.svg", alt="Стрижки в барбершопе Lucky Frank")
      h3.service__title Стрижки
      p.service__description Модный тренд или вечная классика? Подберем именно то, что подходит Вам.
      .service__more 
        a.button(href="#") Подробнее

    article.service
      .service__icon
        img(src="/img/services/royal.svg", alt="Королевское бритьё в барбершопе Lucky Frank")
      h3.service__title Королевское бритьё
      p.service__description Настоящий ритуал, состоящий из&nbsp;нескольких этапов, достойный королей
      .service__more 
        a.button(href="#") Подробнее


  .services__content.desktop-only 
    article.service-thumb
      header.service-thumb__header
        h3.service-thumb__title Стрижки
        .service-thumb__description Модный тренд или вечная классика? Подберем именно то, что подходит Вам
        .service-thumb__more
          a(href="#") Подробнее
        .service-thumb__icon
          img(src="/img/services/haircut.svg", alt="")
      .service-thumb__background
        img(src="/img/services/haircut-bg.jpg", alt="")

    article.service-thumb
      header.service-thumb__header
        h3.service-thumb__title Королевское <br>бритьё
        .service-thumb__description Настоящий ритуал, состоящий из нескольких этапов, достойный королей
        .service-thumb__more
          a(href="#") Подробнее
        .service-thumb__icon
          img(src="/img/services/royal.svg", alt="")
      .service-thumb__background
        img(src="/img/services/royal-bg.jpg", alt="")

    br

    article.service-thumb
      header.service-thumb__header
        h3.service-thumb__title Бритьё
        .service-thumb__description Профессиональный подход к каждому клиенту от наших лучших мастеров барберов
        .service-thumb__more
          a(href="#") Подробнее
        .service-thumb__icon
          img(src="/img/services/shaving.svg", alt="")
      .service-thumb__background
        img(src="/img/services/shaving-bg.jpg", alt="")


    .services__quote
      blockquote.quote.quote--inversed
        .quote__deco 
        h3.quote__title Frank <em>Says:</em>
        p.quote__text Если Вы обладаете чем-то, но Вы не можете это отдать, то Вы не обладаете этим... <br><strong>это обладает Вами.</strong>
        .quote__signature
          img(src="/img/sign-white.png", alt="")
