section.section.services
  .services__content.mobile-only
    article.service
      header.service__header
        .service__icon
          img(src="/img/services/shaving.svg", alt="Бритьё в барбершопе Lucky Frank")
        h3.service__title Бритьё
        p.service__description Профессиональный подход к каждому клиенту от наших лучших мастеров-барберов
        .service__more 
          a.button(href="#") Подробнее
      .service__background
        img(src="/img/services/shaving-bg.jpg", alt="")

    article.service
      header.service__header
        .service__icon
          img(src="/img/services/haircut.svg", alt="Стрижки в барбершопе Lucky Frank")
        h3.service__title Стрижки
        p.service__description Модный тренд или вечная классика? Подберем именно то, что подходит Вам
        .service__more 
          a.button(href="#") Подробнее
      .service__background
        img(src="/img/services/haircut-bg.jpg", alt="")

    article.service
      header.service__header
        .service__icon
          img(src="/img/services/royal.svg", alt="Королевское бритьё в барбершопе Lucky Frank")
        h3.service__title Королевское бритьё
        p.service__description Настоящий ритуал, состоящий из&nbsp;нескольких этапов, достойный королей
        .service__more 
          a.button(href="#") Подробнее
      .service__background
        img(src="/img/services/royal-bg.jpg", alt="")

  .services__quote
    blockquote.quote.quote--inversed
      .quote__deco 
      h3.quote__title Frank <em>Says:</em>
      p.quote__text Если Вы обладаете чем-то, но Вы не можете это отдать, то Вы не обладаете этим... <br><strong>это обладает Вами.</strong>
      .quote__signature
        img(src="/img/sign-white.png", alt="")
