section.about.section.section--fx
  .section__content.dark
    h2.title <small>Особенности бритья опасной бритвой в&nbsp;барбершопе Lucky Frank</small>
    p.section-text Во время бритья в&nbsp;барбершопе посетители находятся в&nbsp;максимально комфортных условиях. Уютная обстановка позволит клиентам наслаждаться каждой минутой пребывания здесь.

    p.section-text В нашем барбершопе для работы опасной бритвой допускаются только опытные профессионалы. Если перед Вами стоит вопрос, где качественно побриться, то Вам следует обратиться именно к нам, чтобы получить желаемый результат.

    p.section-text Процедура бритья опасной бритвой в барбершопе состоит из несколько этапов:
    ul
      li подготовка, которая заключаетсяв очищении кожи лица, распаривании щетины, массаже лица;
      li использование помазка для того, чтобы нанести на поверхность щетины средство для смягчения волосков;
      li непосредственно бритьё.

    p.section-text Бритье опасной бритвой осуществляется в соответствии с техникой, которая вырабатывалась годами. Для начала бритва движется по направлению роста волос и затем против роста волос. Именно благодаря такой технике удается добиться гладкого эффекта. Для того чтобы клиент не поранился мастера используют особую технику натяжения кожи, что обеспечивает безопасность проведения процедуры. Не стоит рисковать и проводить такое бритье в домашних условиях, потому что сохраняются высокие риски, связанные с получением порезов.

  .section__content.dark
    h2.title <small>Преимущества бритья опасной бритвой</small>
    p.section-text Данная процедура отличается следующими достоинствами:
    ul 
      li удаляются все волосы без&nbsp;остатка;
      li отсутствие после процедуры царапин и&nbsp;ран;
      li комфорт и&nbsp;безопасность во&nbsp;время процедуры;
      li высокое качество выполнения;
      li использование специальных средств во&nbsp;избежание появления раздражений.

    p.section-text В салоне работают профессионалы самого высокого уровня, которые позволят посетителям оценить все преимущества такого типа бритья. Они сочетают новейшие и&nbsp;старые методы борьбы с&nbsp;нежелательной растительностью на&nbsp;лице. Результат понравится даже самому требовательному клиенту.
