section.section.team
  header.section__header
    p.section__suptitle Барберы Lucky Frank
    h2.section__title Наши мастера
    p.section__subtitle Мы знаем, что такое стиль

  .team__more
    a(href="").button.button--inverse Онлайн запись

  .team__content
    article.member
      header.member__header
        p.member__position Барбер
        h3.member__name Олег
      .member__photo: img(src="/img/team/barber1.jpg", alt="")

    article.member
      header.member__header
        p.member__position Барбер
        h3.member__name Дмитрий
      .member__photo: img(src="/img/team/barber2.jpg", alt="")

    article.member
      header.member__header
        p.member__position Барбер
        h3.member__name Юрий
      .member__photo: img(src="./img/team/barber3.jpg", alt="")

    article.join
      header.join__header
        h3.join__title Присоединяйся<br>к нашей команде
      .join__cover
      .join__photo: img(src="./img/team/join.png", alt="")

  .team__quote
    blockquote.quote
      .quote__deco 
      h3.quote__title Frank <em>Says:</em>
      p.quote__text Чтобы иметь успех, нужно иметь друзей; но чтобы поддерживать большой успех, <br><strong>нужно иметь много друзей.</strong>
      .quote__signature
        img(src="/img/sign.png", alt="")
