doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="./styles.css")

    title Барбершоп Lucky Frank

  body 
    include ./modules/_header.pug
    include ./modules/_hero.pug
    include ./modules/_about.pug
    include ./modules/_features.pug
    include ./modules/_services.pug
    include ./modules/_promos.pug
    include ./modules/_prices.pug
    include ./modules/_feedback.pug
    include ./modules/_map.pug
    include ./modules/_footer.pug

    script(src="./scripts/index.js") 
