doctype html
html(lang="ru")
  head
    include ./modules/_head.pug


    title Барбершоп Lucky Frank

  body 
    include ./modules/_header.pug
    include ./modules/_hero.pug
    include ./modules/_about.pug
    include ./modules/_services.pug 
    include ./modules/_features.pug
    include ./modules/_promos.pug
    include ./modules/_prices.pug
    include ./modules/_feedback.pug 
    include ./modules/_map.pug
    include ./modules/_footer.pug

    script(type="text/javascript", src="https://w126643.yclients.com/widgetJS", charset="UTF-8") 
    script(src="./scripts/index.js?v=7") 
