doctype html
html(lang="ru")
  head
    include ./modules/_head.pug

    title Бритьё в Барбершопе Lucky Frank

  body
    include ./modules/_header.pug
    include ./modules/_hero-shaving.pug
    include ./modules/_shaving.pug
    include ./modules/_footer.pug

    script(type="text/javascript", src="https://w126643.yclients.com/widgetJS", charset="UTF-8") 
    script(src="./scripts/inner.js?v=7") 
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4rek-2pFY8BLEOCq3jIFzfn4Q43-7loY&callback=initMap") 
