.join {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    vertical-align: top;
    height: 131vw;
    height: calc(131vw - 63px);
    width: 100%;
    max-width: 360px;
    max-height: 475px;

    @include atTabletsPortrait {
        // box model
        height: 340px;
        width: 258px;
        height: 48vw;
        width: 37vw;
    }
    
    @include atDesktop {
        // box model
        height: 340px;
        width: 258px;
        height: 26vw;
        width: 19vw;
    }

    &__header {
        // positioning
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 2;

        // box model
        width: calc(100% - 20px);
        height: calc(100% - 20px);

        // visual
        border: 7px solid $white;
    }

    &__title {
        // positioning
        position: absolute;
        bottom: 20px;
        left: 20px;

        // box model
        margin: 0;
        padding: 0;
        width: 90%;

        // typography
        color: $white;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.25;
        text-align: left;
        text-transform: uppercase;

        @include atDesktop {
            // typography
            font-size: 1rem;
        }

        @include atDesktopLarge {
            // typography
            font-size: 1.125rem;
        }
    }

    &__photo {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        // box model
        width: 100%;

        img {
            // box model
            width: 100%;
        }
    }
}