<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&amp;subset=cyrillic", rel="stylesheet")
    //- link(href="https://fonts.googleapis.com/css?family=Oswald:400&amp;subset=cyrillic", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:400&amp;subset=cyrillic", rel="stylesheet")
    link(rel="stylesheet", href="styles.css")

    title Lucky Frank Barbershop

body
    header.page-header
        .header-contacts
            .contact-item.contact-item--phone
                .contact-item__icon.icon-phone
                .contact-item__content
                    a(href="#") +7 123 456-78-90

            .contact-item.contact-item--schedule
                .contact-item__icon.icon-clock
                .contact-item__content Пон.-Пят.: 10<sup>00</sup>-20<sup>00</sup>

            .contact-item.contact-item--address
                .contact-item__icon.icon-location
                .contact-item__content г. Краснодар, ул. Барбершопная, д.777

            .contact-item.contact-item--social
                .contact-item__content
                    .social.social--header
                        a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                        a(href="https://www.facebook.com/truemanbarbershop/").social-icon.icon-facebook Facebook
                        a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

            .menu-icon: .menu-icon__middle

        .logo: img(src="img/logo-white.svg", alt="Lucky Frank Barbershop logo")

        nav.main-nav
            .main-nav__logo: img(src="/img/logo-white.svg", alt="")
            ul.main-menu
                li: a(href="#") Главная
                li: a(href="#") О нас
                li: a(href="#") Услуги
                li: a(href="#") Прайс
                li: a(href="#") Советы
                li: a(href="#") Мастера
                li: a(href="#") Контакты


    section.hero
        header.hero__header
            p.hero__welcome Добро пожаловать в
            h1.hero__title Lucky Frank <br>Barbershop
            p.hero__subtitle Барбершоп для тех, кто разбирается в стиле

        .hero__booking
            a(href="#") Онлайн запись

        .hero__quote
            blockquote.quote.quote--inversed
                .quote__deco 
                h3.quote__title Frank <em>Says:</em>
                p.quote__text Костюм, шляпа, хорошая работа и одинокое пьянство по выходным <br><strong>— вот что украшает мужчину</strong>
                .quote__signature
                    img(src="/img/sign.png", alt="")

        .hero__deco


    section.section.about
        header.section__header
            p.section__suptitle О Барбершопе
            h2.section__title Добро пожаловать <br>в Lucky Frank Barbershop
            p.section__subtitle Мы ждём тебя в гости

        .section__content
            p.section__text Мы намного больше чем просто мужская парикмахерская, это даже больше чем мужской клуб по интересам, это именно то место, где ты найдешь себя и свой стиль. Мужские стрижки и бритье — это наш профиль, и мы уверены, что мы стрижем и бреем лучше всех.
            .section__more 
                a(href="") узнай больше

        .about__deco: img(src="/img/about-deco.png", alt="")


    section.section.services
        .section__content.section__content--wrapper
            article.service
                .service__icon
                    img(src="/img/shaving-icon.svg", alt="Бритьё в барбершопе Lucky Frank")
                h3.service__title Бритьё
                p.service__description Профессиональный подход к каждому клиенту от наших лучших мастеров-барберов
                .service__more 
                    a(href="#") Подробнее

            article.service
                .service__icon
                    img(src="/img/haircut-icon.svg", alt="Стрижки в барбершопе Lucky Frank")
                h3.service__title Стрижки
                p.service__description Профессиональный подход к каждому клиенту от наших лучших мастеров-барберов
                .service__more 
                    a(href="#") Подробнее

            article.service
                .service__icon
                    img(src="/img/royal-icon.svg", alt="Королевское бритьё в барбершопе Lucky Frank")
                h3.service__title Королевское бритьё
                p.service__description Настоящий ритуал, состоящий из нескольких этапов
                .service__more 
                    a(href="#") Подробнее

            article.service
                .service__icon
                    img(src="/img/tattoo-icon.svg", alt="Профессиональные татуировки в барбершопе Lucky Frank")
                h3.service__title Татуировки
                p.service__description Наши тату мастера осуществят вашу самую смелую идею
                .service__more 
                    a(href="#") Подробнее

            .services__desktop
                article.service-thumb
                    header.service-thumb__header
                        h3.service-thumb__title Стрижки
                        .service-thumb__more
                            a(href="#") Подробнее
                        .service-thumb__icon
                            img(src="", alt="")
                    .service-thumb__background
                        img(src="/img/services/haircut-bg.jpg", alt="")

                article.service-thumb
                    header.service-thumb__header
                        h3.service-thumb__title Королевское бритьё
                        .service-thumb__more
                            a(href="#") Подробнее
                        .service-thumb__icon
                            img(src="", alt="")
                    .service-thumb__background
                        img(src="/img/services/royal-bg.jpg", alt="")

                article.service-thumb
                    header.service-thumb__header
                        h3.service-thumb__title Бритьё
                        .service-thumb__more
                            a(href="#") Подробнее
                        .service-thumb__icon
                            img(src="", alt="")
                    .service-thumb__background
                        img(src="/img/services/shaving-bg.jpg", alt="")

                article.service-thumb
                    header.service-thumb__header
                        h3.service-thumb__title Татуировки
                        .service-thumb__more
                            a(href="#") Подробнее
                        .service-thumb__icon
                            img(src="", alt="")

                    .service-thumb__background
                        img(src="/img/services/tattoos-bg.jpg", alt="")


    section.section.statistics
        .section__content
            article.stat
                header.stat__header
                    .stat__icon
                        img(src="/img/haircut-icon.svg", alt="Стрижки в барбершопе Lucky Frank")
                    .stat__count 35
                    .stat__name идеальных <br>причёсок
                
                .stat__photo
                    img(src="/img/haircut-photo.png", alt="")
                .stat__background.stat__background--hair
                    img(src="/img/haircut-bg.jpg", alt="")
                
            article.stat
                header.stat__header
                    .stat__icon
                        img(src="/img/shaving-icon.svg", alt="Бритьё в барбершопе Lucky Frank")
                    .stat__count 25
                    .stat__name подстриженых <br>бород
                
                .stat__photo
                    img(src="/img/shaving-photo.png", alt="")
                .stat__background
                    img(src="/img/shaving-bg.jpg", alt="")

            article.stat
                header.stat__header
                    .stat__icon
                        img(src="/img/tattoo-icon.svg", alt="Профессиональные татуировки в барбершопе Lucky Frank")
                    .stat__count 15
                    .stat__name набитых <br>татуировок
                
                .stat__photo
                    img(src="/img/tattoo-photo.png", alt="")
                .stat__background
                    img(src="/img/tattoo-bg.jpg", alt="")

    section.section.prices
        header.section__header.section__header--inversed
            p.section__suptitle Прайс Lucky Frank
            h2.section__title Прайс-лист <br>на услуги
            p.section__subtitle Позволь себе настоящий стиль

        .section__content
            table.prices-table
                thead
                    caption Основные услуги
                tbody
                    tr
                        td Стрижка мужская <br><small>подбор стиля, мытье головы, укладка</small>
                        td 1500 
                    tr
                        td Стрижка детская <br><small>от 5 до 14 лет</small>
                        td 1200 
                    tr
                        td Стрижка под машинку <br><small>одна насадка</small>
                        td 600 
                    tr
                        td Коррекция бороды
                        td 600 
                    tr
                        td Королевское бритьё бороды<br><small>c косметикой Truefitt&nbsp;&&nbsp;Hill</small>
                        td 1500 
                    tr
                        td Королевское бритьё головы<br><small>c косметикой Truefitt&nbsp;&&nbsp;Hill</small>
                        td 2000 

            table.prices-table
                thead
                    caption Дополнительные услуги
                tbody
                    tr
                        td Камуфляж седых волос
                        td 1100 
                    tr
                        td Окантовка с подбриванием
                        td 500 
                    tr
                        td Мытьё и укладка волос
                        td 400 

            table.prices-table
                thead
                    caption Комплексные услуги
                tbody
                    tr
                        td Стрижка мужская + Коррекция бороды
                        td 1800 
                    tr
                        td Стрижка мужская + Королевское бритьё
                        td 2700 
                    tr
                        td Отец + сын
                        td 2200 
                    tr
                        td Друг + друг
                        td 2600 
                    
        .section__more
            a(href="").button Все услуги

    section.section.advices
        article.advice


    section.section.team
        header.section__header
            p.section__suptitle Барберы Lucky Frank
            h2.section__title Наши мастера
            p.section__subtitle Мы знаем, что такое стиль

        .section__more
            a(href="") Онлайн запись

        .section__content
            article.member
                a(href="")
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Олег
                        
                    .member__photo: img(src="./img/barbers/barber1.jpg", alt="")
                
            article.member
                header.member__header
                    p.member__position Барбер
                    h3.member__name Дмитрий

                .member__photo: img(src="./img/barbers/barber2.jpg", alt="")
                
            article.member
                header.member__header
                    p.member__position Барбер
                    h3.member__name Юрий

                .member__photo: img(src="./img/barbers/barber3.jpg", alt="")

            article.member.member--join
                header.member__header
                    h3.member__title Присоединяйся<br>к нашей команде

                .member__cover.member__cover--join
                .member__photo: img(src="./img/barbers/join.jpg", alt="")

    footer.page-footer
        .footer-logo
            .footer-logo__image
                img(src="/img/logo-white.svg", alt="")
            h2.footer-logo__title Lucky Frank <br><small>территория настоящих мужчин</small>

        .footer-block
            header.footer-block__header
                h3.footer-block__title Контакты

            .footer-block__content
                .footer-info
                    .footer-info__icon.icon-phone
                    p.footer-info__text: a(href="tel:+79111234567") +7 911 123 45 67

                .footer-info
                    .footer-info__icon.icon-location
                    p.footer-info__text г. Калининград, ул. Вебдевовская, д. 1337

                .footer-info
                    .footer-info__icon.icon-mail-alt
                    p.footer-info__text: a(href="mailto:info@luckyfrank.ru") info@luckyfrank.ru

                .footer-info
                    .social.social--footer
                        a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                        a(href="https://www.facebook.com/truemanbarbershop/").social-icon.icon-facebook Facebook
                        a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

        .footer-block
            header.footer-block__header
                h3.footer-block__title Часы работы
            
            .footer-block__content
                .footer-info
                    .footer-info__icon.icon-clock
                    p.footer-info__text.footer-info__text--schedule Понедельник: 10<sup>00</sup> - 20<sup>00</sup> <br>Вторник: 10<sup>00</sup> - 20<sup>00</sup> <br>Среда: 10<sup>00</sup> - 20<sup>00</sup> <br>Четверг: 10<sup>00</sup> - 20<sup>00</sup> <br>Пятница: 10<sup>00</sup> - 20<sup>00</sup> <br>Суббота: 10<sup>00</sup> - 20<sup>00</sup> <br>Воскресенье: <em>Выходной</em>