.about {
    // positioning
    position: relative;
    z-index: 1;

    // visual
    background-image: url("./img/about-bg-m.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 10px 20px 0 rgba($dark, 0.25);
    
    @include atTabletsPortrait {
        // box model
        padding: 80px;
        
        // visual
        background-image: url("./img/about-bg-t.jpg");
    }
    
    @include atTabletsLandscape {
        // box model
        padding-right: 44%;

        // visual
        background-image: url("./img/about-bg.jpg");
    }

    &__deco {
        // box model
        display: none;
        
        @include atTabletsLandscape {
            // positioning
            position: absolute;
            bottom: 60px;
            right: 60px;

            // box model
            display: block;
            max-width: 500px;
            width: 35%;

            img {
                // box model
                width: 100%;
            }
        }
    }

    &__more {
        // box model
        padding-top: 20px;

        // typography
        text-align: left;

        a {
            // box model
            display: inline-block;
            vertical-align: top;
            padding: 10px 20px;

            // typography
            color: $brown;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;

            // visual
            border: 2px solid $brown;
            transition: all 0.3s ease-out;

            &:hover {
                // typography
                color: $white;
                
                // visual
                background-color: $brown;
            }
        }
    }
}