a.button {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;

    // typography
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    border: 2px solid $brown;

    &--inverse{
        // typography
        color: $dark;
        font-weight: 700;
    }
}