.contact-item {
    // box model
    display: none;
    padding: 15px;

    &__icon {
        // box model
        display: inline-block;
        vertical-align: middle;

        // typography
        font-size: 1.5em;

        // visual
        color: $brown;
    }
    
    &__content {
        // box model
        display: inline-block;
        vertical-align: middle;

        // typography
        color: $white;
        font-weight: 400;
        font-size: 16px;
        
        a {
            // typography
            color: $white;
            text-decoration: none;
        }
    }

    &--phone {
        // box model
        display: inline-block;
    }
}