.contact-item {
    // box model
    display: none;
    padding: 15px 27px;

    &__icon {
        // box model
        display: inline-block;
        vertical-align: middle;

        // typography
        font-size: 1.5em;

        // visual
        color: $brown;
    }
    
    &__content {
        // box model
        display: inline-block;
        vertical-align: middle;

        // typography
        color: $white;
        font-weight: 400;
        font-size: 16px;
        
        a {
            // typography
            color: $white;
            text-decoration: none;
        }
    }

    &--phone {
        // box model
        display: inline-block;
        vertical-align: top;
    }
    
    &--address {
        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            
            // visual
            border-left: 1px solid $brown;
        }
    }
    
    &--schedule {
        @include atTabletsLandscape {
            // box model
            display: inline-block;
            vertical-align: top;
            
            // visual
            border-left: 1px solid $brown;
        }
    }

    &--menu-icon {
        // box model
        display: inline-block;

        // visual
        border-left: 1px solid $brown;
    }
}