.footer-block {
    // box model
    padding-top: 10px;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding: 20px;
        padding-top: 0;
    }

    @include atTabletsLandscape {
        // box model
        width: 32%;
    }

    @include atDesktop {
        // box model
        width: auto;
    }

    &__header {

    }

    &__title {
        // box model
        padding-left: 45px;
        
        // typography
        color: $brown;
        font-size: 1.5rem;
        text-transform: uppercase;

        @include atTabletsLandscape {
            // box model
            margin-top: 0;
            padding-top: 0;
        }
    }
}