.footer-logo {
    &__image {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        max-width: 300px;
        margin: 0 auto;
    
        img {
            // box model
            width: 100%;
        }
    }

    &__title {
        // typography
        color: $brown;
        font-family: $titleFont;
        font-size: 2.5rem;
        line-height: 0.5;
        text-align: center;
        text-transform: uppercase;

        small {
            // typography
            font-size: 0.9rem;
        }
    }
}