.hero {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    padding: 25px;

    // visual
    background-color: $chocolate;
    background-image: url('/img/bg-m.jpg');
    background-position: center center;
    background-size: cover;
    box-shadow: 0 10px 20px 0 rgba($dark, 0.25);

    &__header {
        // positioning
        position: relative;

        // box model
        padding-top: 60px;
        padding-bottom: 20px;
        margin-bottom: 40px;

        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            left: 0;

            // box model
            height: 2px;
            width: 50px;

            // visual
            background-color: $brown;
        }
    }

    &__welcome {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 10px;

        // typography
        color: $brown;
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        
        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 3rem;
        text-transform: uppercase;
    }

    &__subtitle {
        // box model
        margin: 0;
        padding: 0;

        // typography
        color: $white;
        font-family: $mainFont;
        letter-spacing: 2px;
        line-height: 1.5;
        text-transform: uppercase;
    }

    &__booking {
        a {
            // box model
            display: inline-block;
            vertical-align: top;
            margin-bottom: 60px;
            padding: 10px 20px;

            // typography
            color: $white;
            text-decoration: none;
            text-transform: uppercase;

            // visual
            border: 2px solid $brown;
        }
    }

    &__quote {
        // box model
        margin-top: -10px;
        margin-bottom: -25px;
        padding-left: 10px;
        padding-bottom: 20px;

        // visual
        border-left: 1px solid $white;
    }

    &__deco {

    }
}