.inner-hero {
    // positioning
    position: relative;

    // box model
    padding: 60px 25px;
    padding-top: 25px;
    
    // visual
    background-color: $dark;
    background-image: url("./img/bg-inner-m.jpg");
    background-size: cover;
    background-position: bottom center;

    @include atTabletsPortrait {
        // box model
        padding: 60px;

        // visual
        background-image: url("./img/bg-inner-t.jpg");
    }
    
    @include atDesktop {
        // visual
        background-image: url("./img/bg-inner-d.jpg");
    }

    @include atDesktopLarge {
        // box model
        padding: 80px;
    }

    &:after {
        content: "";

        // box model
        display: table;
        clear: both;
    }

    &__header {
        // positioning
        position: relative;

        // box model
        padding-top: 20px;
        padding-bottom: 20px;

        @include atTabletsPortrait {
            // box model
            float: right;
            padding-top: 0;
        }

        @include atDesktop {
            // box model
            padding-top: 80px;
        }

        &::after {
            content: "";
            
            // positioning
            position: absolute;
            bottom: 0;
            left: 0;
            
            // box model
            height: 2px;
            width: 50px;
            
            // visual
            background-color: $brown;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding-top: 0;

        // typography
        color: $white;
        font-family: $titleFont;
        text-transform: uppercase;

        @include atTabletsLandscape {
            // typography
            font-size: 2.5rem;
        }

        @include atDesktop {
            // typography
            font-size: 3rem;
        }
    }

    &__subtitle {
        // typography
        color: $white;
        font-family: $mainFont;
        letter-spacing: 3px;
        text-transform: uppercase;;
    }
}