.inner-about {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    padding: 60px 25px;

    // visual
    background-image: url("./img/about-bg-m.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 10px 20px 0 rgba($dark, 0.25);
    
    @include atTabletsPortrait {
        // box model
        padding: 60px;
        padding-top: 30px;
        
        // visual
        background-image: url("./img/about-bg-t.jpg");
    }
    
    @include atTabletsLandscape {
        // box model
        margin-bottom: 120px;
        padding: 60px;
        
        // visual
        background-image: url("./img/about-bg.jpg");
    }
    
    @include atDesktop {
        // box model
        padding: 80px;
    }

    &__header {
        // positioning
        position: relative;
        
        // box model
        margin-bottom: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        
        &::after {
            content: "";
            
            // positioning
            position: absolute;
            bottom: 0;
            left: 0;
            
            // box model
            height: 2px;
            width: 50px;
            
            // visual
            background-color: $brown;
        }
    }

    &__title {
        // typography
        color: $brown;
        font-weight: 400;
        text-transform: uppercase;

    }

    &__subtitle {
        // typography
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    &__image {
        // box model
        padding: 6px;
        max-width: 640px;

        // typography
        font-size: 0;

        // visual
        border: 2px solid $brown;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 40px;
        }

        @include atTabletsLandscape {
            // box model
            float: right;
            max-width: 480px;
            width: 40%;
            margin-bottom: 30px;
            margin-left: 60px;
            margin-top: 7px;
            margin-right: 0;
        }

        @include atDesktop {
            // positioning
            position: absolute;
            right: 80px;

            // box model
            margin-bottom: 80px;
            width: 480px;
        }

        img {
            // box model
            width: 100%;
        }
    }

    &__content {
        @include atDesktop {
            // box model
            min-height: 340px;
        }
    }

    &__description {
        // typography
        line-height: 1.75;

        @include atDesktop {
            // box model
            padding-right: 560px;
        }

        em {
            // typography
            color: $brown;
        }
    }
}