.logo {
    // positioning
    position: relative;
    z-index: 3;
    
    // box model
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: -70px;
    padding: 20px;
    
    @include atTabletsPortrait {
        max-width: 380px;
        margin: 0;
        margin-bottom: -120px;
        padding-left: 60px;
        padding-top: 40px;
    }

    img {
        // box model
        width: 100%;
    }
}