.page-footer {
    // box model
    padding: 60px 25px;

    // typography
    font-size: 0;
    
    // visual
    background-color: $dark;
    overflow: hidden;

    @include atTabletsLandscape {
        // box model
        padding: 40px 80px;
    }

    &__wrapper {
        // positioning
        position: relative;

        // box model
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @include atTabletsLandscape {
            // box model
            justify-content: flex-start;
        }

        @include atDesktop {
            // box model
            padding: 60px 80px;
            padding-bottom: 40px;
            margin-bottom: -82px;

            // visual
            border: 2px solid $brown;
        }
    }

    &__quote {
        // box model
        display: none;

        @media (min-width: 1600px) {
            // positioning
            position: absolute;
            right: 0;
            top: 167px;

            // box model
            display: block;
            width: 31%;
            padding-right: 30px;
            padding-left: 30px;

            // visual
            border-left: 2px solid $brown;
        }
    }
}