.partners {
    // box model
    display: none;

    @include atDesktop {
        // box model
        display: block;
        display: flex;
        justify-content: space-around;
        padding-top: 80px;
    }
}