.prices {
    // positioning
    position: relative;

    // visual
    background-color: $dark;

    @include atTabletsPortrait {
        // box model
        padding: 80px;
    }

    @include atDesktop {
        // box model
        padding-bottom: 300px;

        // visual
        background-image: url("/img/prices-bg.jpg");
        background-position: bottom center;
        background-repeat: no-repeat;
        // background-size: cover;
        background-size: contain;
    }

    &__content {
        // typography
        font-size: 0;
    }

    &__column {
        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;
            width: calc(50% - 21px);
    
            &--left {
                    // box model
                    margin-right: 40px;
            }
        }
    }

    &__more {
        // box model
        margin-top: 60px;

        // typography
        text-align: center;

        @include atDesktop {
            // positioning
            // position: absolute;
            // bottom: 80px;
            // left: 80px;

            // typography
            text-align: left;
        }
    }
}