.promos {
    // box model
    padding: 40px 0;

    // typography
    font-size: 0;

    // visual
    background-color: $dark;

    @include atTabletsPortrait {
        // box model
        padding: 60px;
        // padding-bottom: 0;
    }

    @include atDesktopLarge {
        // box model
        padding: 0;
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}