.service {
    &__icon {

    }

    &__title {
        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__description {

    }

    &__more {

    }
}