.team {
    // positioning
    position: relative;

    // visual
    background-image: url('/img/team-bg-m.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    
    @include atTabletsPortrait {
        // box model
        padding: 80px;
        
        // visual
        background-image: url('/img/team-bg-t.jpg');
    }
    
    @include atTabletsLandscape {
        // box model
        padding-bottom: 100px;

        // visual
        background-image: url('/img/team-bg.jpg');
    }

    @include atDesktop {
        // box model
        padding-bottom: 80px;
    }
    
    &__more {
        // box model
        padding-bottom: 60px;

        a {
            // box model
            display: inline-block;
        }
    }
    
    &__content {
        // typography
        font-size: 0;
        text-align: center;
        
        @include atTabletsPortrait {
            // box model
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__quote {
        // box model
        padding: 10px;
        padding-top: 80px;
        margin-bottom: -50px;

        @include atDesktop {
            // positioning
            position: absolute;
            right: 60px;
            top: 110px;

            // box model
            width: 45%;
        }
    }
}